<div ba-panel ba-panel-title="Usuarios" ba-panel-class="with-scroll">
    <div class="row clearfix">
        <div class="kameleon-row" ng-repeat="(key,value) in tabs track by $index">
            <div class="kameleon-icon with-round-bg {{icon.color}}" ng-click="getUserProfile(key)"><img ng-src="{{value.profile || 'assets/pictures/user.png'}}" class="prof">
                <span class="prof">{{value.firstname}}</span>
            </div>
        </div>
    </div>
</div>
