<div class="widgets" ng-init="consultar()">
    <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="Sucursales" ba-panel-class="with-scroll">
            <form class="form-horizontal" name="formClient" id="formClient" ng-submit="guardar(formClient)" novalidate>

                <div class="form-group has-feedback">
                    <label for="no_sucursal" class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="no_sucursal" name="no_sucursal" placeholder="Nombre Sucursal"
                            ng-model="data.no_sucursal" ng-required="true" style="text-transform:uppercase"
                            autocomplete="off" />
                        <span class="help-block error-block basic-block" ng-if="formClient.no_sucursal.$error">
                            <p ng-repeat="(key, value) in formClient.no_sucursal.$error">
                                {{messages.no_sucursal[key]}}
                            </p>
                        </span>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="co_depart" class="col-sm-2 control-label">Departamento:</label>
                    <div class="col-sm-10">
                        <select class="select2_group form-control" name="co_depart"
                            ng-model="data.co_depart"
                            ng-options="idepartamento.value as idepartamento.text for idepartamento in a_departamento" ng-required="true"
                            ng-change="getpDepartamento(data)">
                        </select>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="co_provin" class="col-sm-2 control-label">Provincia:</label>
                    <div class="col-sm-10">
                        <select class="select2_group form-control" name="co_provin" ng-model="data.co_provin"
                            ng-change="getpProvincia(data)" ng-options="idprovincia.value as idprovincia.text for idprovincia in a_provincia"
                            ng-required="true">
                        </select>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="co_distri" class="col-sm-2 control-label">Distrito:</label>
                    <div class="col-sm-10">
                        <select class="select2_group form-control" name="co_distri" ng-model="data.co_distri"
                            ng-options="iddistrito.value as iddistrito.text for iddistrito in a_distrito" ng-required="true">
                        </select>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="direccion" class="col-sm-2 control-label">Dirección:</label>
                    <div class="col-sm-10">
                        <input type="text" name="no_direccion" id="no_direccion" class="form-control" placeholder="Dirección"
                            ng-model="data.no_direccion" ng-required="true" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label for="descripcion" class="col-sm-2 control-label">Descripcion:</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" name="no_observacion" id="no_observacion" rows="3" class="form-control"
                            placeholder="Descripción" ng-model="data.no_observacion"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success"
                            ng-disabled="formClient.$invalid || formClient.$pending">Guardar</button>
                        &nbsp;&nbsp;&nbsp;
                        <a class="btn btn-default" ui-sref="dashboard.sucursal.sucursales"><i
                                class="fa fa-list-alt"></i> Listado</a>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>