<div class="page-top clearfix" scroll-position="scrolled" max-height="50" ng-class="{'scrolled': scrolled}">
  <a href="#/dashboard/home" class="al-logo clearfix">
    <img src="../assets/img/logo.png" alt="ViiN RESTOBAR" width="249" height="60"> 

  <a href class="collapse-menu-link ion-navicon" ba-sidebar-toggle-menu></a>

  <div class="user-profile clearfix">

    <div class="al-user-profile" uib-dropdown>
      <a uib-dropdown-toggle class="profile-toggle-link">
        <img ng-src="{{::( 'Nasta' | profilePicture )}}">
      </a>

      <ul  class="top-dropdown-menu profile-dropdown" uib-dropdown-menu>
        <li><i class="dropdown-arr"></i></li>
        <!--li><a href="#/dashboard/profile"><i class="fa fa-user"></i>Perfil</a></li-->
        <li><a permission permission-only="['SUPERVISOR', 'SUPERUSUARIO', 'ADMIN']" ui-sref="dashboard.configuracion.fiscal()"><i class="fa fa-cog"></i>Configuraciones</a></li>
        <li><a ng-click="signOut()" class="signout"><i class="fa fa-power-off"></i>Salir</a></li>
      </ul>
    </div>
    <!-- <msg-center></msg-center> -->
    <div style="padding-top:15px; float:right;">
      {{username}}
    </div>
  </div>
</div>
