<div class="widgets" ng-init="consultar()">
    <div class="row">
        <div class="col-md-7" ba-panel ba-panel-title="Registro de Categoria Producto" ba-panel-class="with-scroll">
            <form class="form-horizontal" name="formCategoriaProducto" id="formCategoriaProducto"
                ng-submit="guardar(formCategoriaProducto)" novalidate>
                <div class="col-sm-9">
                    <input id="no_categoria_producto" ng-model="data.no_categoria_producto"
                        class="input-sm form-control" placeholder="Nombre Categoria" type="text" />
                </div>
                <div class="col-sm-3" style="text-align: center;">
                    <button type="submit" class="btn btn-success"
                        ng-disabled="formCategoriaProducto.$invalid || formCategoriaProducto.$pending">Agregar
                        Categoria</button>

                </div>
            </form>
        </div>
        <div class="col-md-5" ba-panel ba-panel-title="Lista de Categoria Producto" ba-panel-class="with-scroll">
            <div class="form-group">
                <div class="col-sm-12">
                    <table class="table table-striped" st-pipe="callServer" st-table="displayed">
                        <thead>
                            <tr class="sortable ">
                                <th style="width:4%;" class="table-id">#</th>
                                <th style="width:6%;">Nombre Categoria</th>
                                <th style="width:10%;">&nbsp;</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <input st-search="no_categoria_insumo" class="input-sm form-control"
                                        placeholder="Busqueda Categoria ..." type="search" />
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr st-select-row="row" ng-repeat="item in displayed">
                                <td class="table-id" style="text-align: right;">{{item.item}}</td>
                                <td>{{item.no_categoria_producto}}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-xs btn-success" title="Editar"
                                            ui-sref="dashboard.producto.productoCategoria({id_categoria_producto: item.id_categoria_producto})"><i
                                                class="ion-edit"></i></a>
                                        <button class="btn btn-xs"
                                            ng-class="(item.status=='1')?'btn-success':'btn-danger'" type="button"
                                            title="Activar/inactivar"
                                            ng-click="changeStatus(item.id_categoria_producto, item.status)"
                                            ng-disabled="item.idusuario==0"><i class="fa"
                                                ng-class="(item.status=='1')?'fa-check':'fa-ban'"> </i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7" class="text-center" st-pagination="" st-items-by-page="10"></td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>