<div class="add-row-editable-table">
    <button class="btn btn-primary" ng-click="addUser()">Agregar Fila</button>
</div>
<table class="table table-bordered table-hover table-condensed">
    <tr>
        <td></td>
        <td>Tecnologias</td>
        <td>Acciones</td>
    </tr>
    <tr ng-repeat="tech in techs" class="editable-row">
        <td>
            {{$index}}
        </td>
        <td>
            <span editable-text="tech.name" e-name="name" e-form="rowform" e-required>
          {{ tech.name || 'empty' }}
        </span>
        </td>
        <td>
            <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == tech">
                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
                    Guardar
                </button>
                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                    Cancelar
                </button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
                <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Editar</button>
                <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeUser($index)">Eliminar</button>
            </div>
        </td>
    </tr>
</table>
