@import 'theme/conf/mixins';
@import 'theme/conf/colorScheme/blur';
@import 'theme/conf/variables';

.vis-timeline {
    border: 2px solid white;
    font-family: sans-serif;
    font-size: 12pt;
}

.vis-item {
    border-color: #aa00cc;
    background-color: #aa00cc;
    font-size: 11pt;
    color: white;
    box-shadow: 5px 5px 20px rgba(51, 0, 48, 0.5);
}

.vis-item,
.vis-item.vis-line {
    border-width: 2px;
}

.vis-item.vis-dot {
    border-width: 10px;
    border-radius: 10px;
}

.vis-item.vis-selected {
    border-color: lightgreen;
    background-color: lightgreen;
}

.vis-time-axis .vis-text {
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}

.vis-time-axis .vis-text.vis-major {
    font-weight: bold;
}

.vis-time-axis .vis-grid.vis-minor {
    border-width: 2px;
    border-color: pink;
}

.vis-time-axis .vis-grid.vis-major {
    border-width: 2px;
    border-color: #F991A3;
}

.prof {
    cursor: pointer;
    transition: opacity 0.2s, transform 0.2s;
}

.prof:hover {
	opacity: 0.4;
	-webkit-transform: scale3d(1.1,1.1,1);
	transform: scale3d(1.1,1.1,1);
}

#loading-bar .bar {
    //aa00cc
    background: #aa00cc;
    height: 8px;
  }
