<div class="widgets" ng-init="consultar()">
    <div class="row">
        <div class="col-md-8" ba-panel ba-panel-title="COMPRA" ba-panel-class="with-scroll">
            <form class="form-horizontal" name="formCompras" id="formCompras" ng-submit="guardar(formCompras)"
                novalidate>
                <div class="form-group has-feedback">
                    <div class="col-md-2" style="text-align: right;">
                        <label for="apenom">Insumo:</label>
                    </div>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input type="text" class="form-control with-danger-addon" ng-model="data.no_insumo"
                                name="no_insumo" id="no_insumo" placeholder="Seleccione Insumo" disabled>
                            <span class="input-group-btn">
                                <button id="consul" name="consul" class="btn btn-danger" type="button"
                                    data-toggle="modal" ng-click="openInsumo('lg')">Buscar!</button>
                            </span>
                        </div>
                    </div>

                </div>
                <div class="form-group has-feedback">
                    <div class="col-md-2" style="text-align: right;">
                        <label for="nu_cantidad">Cantidad:</label>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group">
                            <input id="nu_cantidad" ng-model="data.nu_cantidad" class="input-sm form-control"
                                placeholder="0.0" type="text">
                            <span class="input-group-addon input-group-addon-warning addon-right"
                                id="basic-addon2">{{data.no_unidad}}
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2" style="text-align: right;">
                        <label for="nu_precio_sugerido">Precio Uni.:</label>
                    </div>
                    <div class="col-md-2">
                        <input id="nu_precio_sugerido" ng-model="data.nu_precio_sugerido" class="input-sm form-control"
                            placeholder="0.0" type="text" />
                    </div>
                    <div class="col-md-1" style="text-align: right;">
                        <label for="nu_stock">Stock:</label>
                    </div>
                    <div class="col-md-2">
                        <input id="nu_stock" ng-model="data.nu_stock" class="input-sm form-control" disabled="true"
                            placeholder="0.0" type="text" />
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <div class="col-md-8" style="text-align: right;">
                    </div>
                    <div class="col-md-2" style="text-align: right;">
                        <button class="btn btn-success" type="button" title="Agregar Insumo"
                            ng-disabled="formCompras.nu_cantidad.$invalid  || formCompras.nu_precio_sugerido.$invalid"
                            ng-click="addItem()"><i class="fa fa-plus"></i> Agregar</button>
                    </div>

                    <div class="col-md-2" style="text-align: right;">
                        <button class="btn btn-danger" type="button" title="Canelar"
                            ng-click="editar(item.noCategoriaInsumo)"><i class="ion-close"></i>
                            Cancelar</button>
                    </div>
                </div>
            </form>

            <div class="col-md-12" ba-panel ba-panel-title="Detalle Compra" ba-panel-class="with-scroll">
                <table class="table table-striped" st-table="displayed" st-safe-src="rowCollection">
                    <thead>
                        <tr class="sortable ">
                            <th style="width:5%;" class="table-id">#</th>
                            <th style="width:15%;">Nombre Insumo</th>
                            <th style="width:10%;">Unidad</th>
                            <th style="width:10%;">Cantidad</th>
                            <th style="width:10%;">Precio</th>
                            <th style="width:10%;">Total</th>
                            <th style="width:10%;">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr st-select-row="row" st-select-mode="multiple" ng-repeat="item in displayed">
                            <td class="table-id" style="text-align: right;">{{item.item}}</td>
                            <td>{{item.no_insumo }}</td>
                            <td>{{item.no_unidad }}</td>
                            <td>{{item.nu_cantidad }}</td>
                            <td>{{item.nu_precio }}</td>
                            <td>{{item.no_total }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-xs btn-danger" title="Eliminar"
                                        ng-click="quitar_producto(item.id, displayed.indexOf(item))"><i
                                            class="ion-trash-a"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7" class="text-center" st-pagination="" st-items-by-page="10"></td>
                        </tr>
                    </tfoot>
                </table>
                <br>
                <div class="form-group has-feedback">
                        <div class="col-sm-12" style="text-align: right;">
                            <button class="btn btn-danger" type="button" title="Limpiar Detalle"
                                ng-click="editar(item.noCategoriaInsumo)"> Limpiar Detalle</button>
                        </div>
                    </div>
            </div>
        </div>

        <div class="col-md-4" ba-panel ba-panel-title="RESUMEN" ba-panel-class="with-scroll">
            <form class="form-horizontal" style="background-color: rgba(0, 0, 0, 0.5);" name="formCompras" id="formCompras" ng-submit="guardar(formCompras)"
                novalidate>	
                
                <div class="alert bg-warning" style="padding-right: 0; padding-top: 0; padding-left: 0; padding-bottom: 0;">
                    <h1 ><i class="ion-ios-pricetag" ></i> S/.{{datac.nu_total}}</h1>
                </div>
                <div class="form-group has-feedback">
                        <div class="col-sm-4" style="text-align: right;">
                            <label for="id_sucursal">Sucursal:</label>
                        </div>
                        <div class="col-sm-8">
                                <select class="select2_group form-control" name="id_sucursal" ng-model="datac.id_sucursal"
                                ng-options="sucu.value as sucu.text for sucu in jsucursal" ng-required="true" ng-change="getCorrelativo(datac.id_sucursal)" >
                                </select>
                        </div>
                    </div>
                <div class="form-group has-feedback">
                    <div class="col-sm-4" style="text-align: right;">
                        <label for="apenom">Compra:</label>
                    </div>
                    <div class="col-sm-8">
                            <h4>{{datac.nu_serie}}{{'-'}}{{datac.nu_correlativo}}</h4>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <div class="col-sm-4" style="text-align: right;">
                        <label for="id_proveedor">Proveedor:</label>
                    </div>
                    <div class="col-sm-8">
                            <select class="select2_group form-control" name="id_proveedor" ng-model="datac.id_proveedor"
                            ng-options="prove.value as prove.text for prove in jproveedor" ng-required="true">
                            </select>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <div class="col-sm-4" style="text-align: right;">
                        <label for="id_tipo_comprobante">Comprobante:</label>
                    </div>
                    <div class="col-sm-4">
                            <select class="select2_group form-control" name="id_tipo_comprobante" ng-model="datac.id_tipo_comprobante"
                            ng-options="comp.value as comp.text for comp in jcomprobante" ng-required="true">
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <input id="nu_serie_c" ng-model="datac.nu_serie_c" class="input-sm form-control" placeholder="Serie" type="text" />
                        <input id="nu_correlativo_c" ng-model="datac.nu_correlativo_c" class="input-sm form-control" placeholder="Correlativo" type="text" />
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <div class="col-sm-4" style="text-align: right;">
                        <label for="apenom">Sub Total:</label>
                    </div>
                    <div class="col-sm-8">
                            <h5>{{datac.nu_sub_total}}</h5>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <div class="col-sm-4" style="text-align: right;">
                        <label for="apenom">I.G.V.:</label>
                    </div>
                    <div class="col-sm-8">
                            <h5>{{datac.nu_igv}}</h5>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <div class="col-sm-4" style="text-align: right;">
                        <label for="apenom">Total:</label>
                    </div>
                    <div class="col-sm-8">
                        <h2>{{datac.nu_total}}</h2>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <div class="col-sm-12" style="text-align: right;">
                        <button class="btn btn-success" type="button" title="Pagar Cuenta"
                            ng-click="guardar()">Pagar</button>
                            &nbsp;&nbsp;&nbsp;
                            <a class="btn btn-default" ui-sref="dashboard.compras.compra"><i class="fa fa-list-alt"></i>
                                Listado</a>
                                <br><br>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>