<div class="widgets" ng-init="consultar()">
    <div class="row">
        <div class="col-sm-12">
            <div ba-panel ba-panel-title="Listado de Detalle Compras" ba-panel-class="with-scroll">
                <div class="col-sm-12">
                        <table class="table table-striped" st-table="displayed" st-safe-src="detalleCompra">
                        <thead>
                            <tr class="sortable">
                                <th style="width:5%;" class="table-id">#</th>
                                <th style="width:10%;">Serie</th>
                                <th style="width:15%;">Correlativo</th>
                                <th style="width:10%;">Fecha</th>
                                <th style="width:20%;">Insumo</th>
                                <th style="width:12%;">Cantidad</th>
                                <th style="width:12%;">Precio</th>
                                <th style="width:15%;">Total</th>
                                <th style="width:5%;">Detalle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr st-select-row="row" ng-repeat="item in displayed">
                                <td class="table-id" style="text-align: right;">{{item.item}}</td>
                                <td>{{item.nu_serie }}</td>
                                <td>{{item.nu_correlativo }}</td>
                                <td>{{item.fe_emision }}</td>
                                <td>{{item.no_insumo }}</td>
                                <td>{{item.nu_cantidad }}</td>
                                <td>{{item.nu_precio_unitario }}</td>
                                <td>{{item.nu_total }}</td>
                                <td style="text-align: center;"> <a class="btn btn-xs btn-success"
                                    ng-click="openDetalle('md',{{item}}, displayed.indexOf(item))"><i
                                        class="ion-navigate text-primary"></i></a></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="9" class="text-center" st-pagination="" st-items-by-page="10"></td>
                            </tr>
                        </tfoot>
                    </table>
                    <br>
                    &nbsp;&nbsp;&nbsp;
                        <a class="btn btn-default" ui-sref="dashboard.almacen.stockInsumos"><i class="fa fa-list-alt"></i>
                            Listado</a>
                </div>
            </div>
        </div>
    </div>
</div>