<label class="switcher-container">
  <input type="checkbox" ng-model="switcherValue">
  <div class="switcher" ng-class="::switcherStyle">
    <div class="handle-container">
      <span class="handle handle-on">Si</span>
      <span class="handle"></span>
      <span class="handle handle-off">No</span>
    </div>
  </div>
</label>