<div class="widgets">
        <div class="row">
            <div ba-panel ba-panel-title="Listado de Empleados <i ng-click='agregar()' class='fa pull-right fa-plus' style=' cursor: pointer;'></i>"
                ba-panel-class="with-scroll">
                <div class="form-group">
                        <div class="col-sm-12">
    
                        <table class="table table-striped" st-pipe="callServer" st-table="displayed">
                            <thead>
                                <tr class="sortable ">
                                    <th style="width:1%;" class="table-id">#</th>
                                    <th style="width:10%;">Nombre Empleado</th>
                                    <th style="width:10%;">N° Documento</th>
                                    <th style="widows:28%;">Dirección</th>
                                    <th style="width:4%;">N° Contacto</th>
                                    <th style="width:4%;">E-mail</th>
                                    <th style="width:3%;">F. Ingreso</th>                                    
                                    <th style="width:3%;">F. Baja</th>
                                    <th style="width:8%;">&nbsp;</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>
                                        <input st-search="no_nombres" class="input-sm form-control"
                                            placeholder="Busqueda Empleado ..." type="search" /></th>
                                    <th> <input st-search="nu_documento" class="input-sm form-control"
                                            placeholder="Busqueda N° Documento ..." type="search" /></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr st-select-row="row" ng-repeat="item in displayed">
                                    <td class="table-id" style="text-align: right;">{{item.item}}</td>
                                    <td>{{item.no_nombres }}</td>
                                    <td>{{item.nu_documento }}</td>
                                    <td>{{item.no_direccion }}</td>
                                    <td>{{item.nu_contacto }}</td>
                                    <td>{{item.email }}</td>
                                    <td>{{item.fe_ingreso }}</td>
                                    <td>{{item.fe_baja }}</td>
                                    <td>
                                        <div class="btn-group" role="group">
                                            <a class="btn btn-xs btn-success" title="Editar"
                                                ui-sref="dashboard.empleado.empleado-details({idempleado: item.id_empleado})"><i
                                                    class="ion-edit"></i></a>
                                            <button class="btn btn-xs btn-default"
                                                ng-click="changeStatus(displayed.indexOf(item), item.id_empleado, item.status)"><i
                                                    class="fa"
                                                    ng-class="(item.status==true)?'fa-toggle-on':'fa-toggle-off'"></i></button>
                                            <button class="btn btn-xs btn-danger" title="Eliminar"
                                                ng-click="eliminar(item.id_empleado, displayed.indexOf(item))"><i
                                                    class="ion-trash-a"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="9" class="text-center" st-pagination="" st-items-by-page="10"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>