<div class="widgets">

        <div class="row">
            <div class="col-md-12">
                <div ba-panel ba-panel-title="Registro Mesas" ba-panel-class="with-scroll">
                    <div class="col-md-12">
                            <div class="col-md-3">
                                <div class="add-row-editable-table">
                                    <button type="button" class="btn btn-primary" ng-click="addCajas()">Agregar Mesa</button>
                                </div>
                            </div>
                            <table st-safe-src="rowNotaProducto" st-table="displayCollection"
                                class="table table-striped table-hover table-condensed" ng-init="">
                                <thead>
                                    <tr class="sortable">
                                        <th st-sort="id">Item</th>
                                        <th st-sort="id_sucursal">Sucursal</th>
                                        <th st-sort="nu_mesa">Nombre Mesa</th>
                                        <th st-sort="Acciones">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="editable-row" ng-repeat="item in rowNotaProducto"
                                        ng-if="displayCollection.length>0">
                                        <td>{{item.id_mesa}}</td>
                                        <td>
                                            <span editable-select="item.id_sucursal" e-ng-options="s.value as s.text for s in a_sucursal" e-name="id_sucursal"  e-form="rowform" e-required>
                                                {{ showStatus(item) }}
                                            </span>
                                        </td>
                                        <td>
                                            <span editable-text="item.nu_mesa" e-name="nu_mesa" e-form="rowform"
                                                e-required>
                                                {{ item.nu_mesa || 'emply' }}
                                            </span>
                                        </td>
                                        <td>
                                            <form editable-form name="rowform" ng-show="rowform.$visible"
                                                class="form-buttons form-inline" shown="notaproducto == item">
                                                <button type="submit" ng-click="" ng-disabled="rowform.$waiting"
                                                    class="btn btn-primary editable-table-button btn-xs">
                                                    Asignar
                                                </button>
                                                <button type="button" ng-disabled="rowform.$waiting"
                                                    ng-click="rowform.$cancel()"
                                                    class="btn btn-default editable-table-button btn-xs">
                                                    Cancelar
                                                </button>
                                            </form>
                                            <div class="buttons" ng-show="!rowform.$visible">
                                                <button type="button" class="btn btn-primary editable-table-button btn-xs"
                                                    ng-click="rowform.$show()">Editar</button>
                                                <button type="button" class="btn btn-danger editable-table-button btn-xs"
                                                    ng-click="removeProducto($index)">Eliminar</button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="11" class="text-center">
                                            <div st-pagination="" st-items-by-page="smartTablePageSize"
                                                st-displayed-pages="10"></div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        
                            <br>
                        <div>
                            <button ng-click="guardar($scope)" type="button" class="btn btn-primary">Guardar
                                <span aria-hidden="true"></span>
                            </button>
                        </div>
    
    
                    </div>
    
    
                </div>
            </div>
        </div>
    </div>