<div class="widgets" ng-init="consultar()">
        <div class="row">
            <div class="col-sm-12">
                <div class="row accordions-row">
                    <uib-accordion ng-repeat="item in valores">
                        <uib-accordion-group panel-class="panel-info bootstrap-panel accordion-panel">
                            <uib-accordion-heading>
                                {{item.data}} <i class="fa pull-right ion-clock">&nbsp;&nbsp;</i>
                            </uib-accordion-heading>
                            <table class="table table-striped" style="color: #ffffff; text-align: center;"
                                st-table="displayed" st-safe-src="item.pedidos">
                                <thead>
                                    <tr class="sortable ">
                                        <th style="width:40%; text-align: center;">Producto</th>
                                        <th style="width:10%; text-align: center;">Cant.</th>
                                        <th style="width:30%; text-align: center;">Observacion</th>
                                        <th style="width:20%; text-align: center;">Marcar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr st-select-row="row" ng-repeat="itms in displayed"
                                        style="border: 0.5px solid; border-color: rgba(255, 255, 255, 0.2);">
                                        <td>{{itms.no_producto }}</td>
                                        <td>{{itms.nu_cantidad }}</td>
                                        <td>{{itms.no_observacion }}</td>
                                        <td><button type="button" class="btn btn-primary editable-table-button btn-xs"
                                                ng-click="atendido(itms)">Atendido</button></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4" class="text-center" st-pagination="" st-items-by-page="10"></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
            </div>
        </div>
    </div>