<div class="modal-content">
    <div class="modal-header bg-info">
        <i class="ion-information-circled modal-icon"></i><span> Lista de Insumos</span>
    </div>
    <div class="modal-body text-left">
        <div class="horizontal-scroll">
            <table class="table table-striped" st-pipe="callServer" st-table="displayed">
                <thead>
                    <tr class="sortable">
                        <th style="width:4%;" class="table-id">#</th>
                        <th style="width:15%;">Nombre Insumo</th>
                        <th style="width:10%;">Categoria</th>
                        <th style="width:10%;">Unidad</th>
                        <th style="width:10%;">Medida</th>
                        <th style="width:6%;">Precio Sugerido</th>
                        <th style="width:10%;">&nbsp;</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>
                            <input st-search="no_insumo" class="input-sm form-control" placeholder="Busqueda Insumo ..."
                                type="search" />
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr st-select-row="row" ng-repeat="item in displayed">
                        <td class="table-id" style="text-align: right;">{{item.item}}</td>
                        <td>{{item.no_insumo }}</td>
                        <td>{{item.no_categoria_insumo }}</td>
                        <td>{{item.no_unidad }}</td>
                        <td>{{item.no_medida }}</td>
                        <td>{{item.nu_precio_sugerido }}</td>
                        <td>
                            <div class="btn-group" role="group">
                                <button class="btn btn-xs btn-sucess" title="Agregar Insumo a la compra"
                                    ng-click="obtenerInsumo(item, displayed.indexOf(item))"><i
                                        class="fa pull-center fa-plus"></i></button>

                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9" class="text-center" st-pagination="" st-items-by-page="10"></td>
                    </tr>
                </tfoot>
            </table>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="">Confirmar</button>
        <button type="button" class="btn btn-danger" ng-click="$dismiss()">Cancelar</button>
    </div>
</div>