<div class="channels-block" ng-class="{'transparent': transparent}">
  <div class="chart-bg"></div>
  <div class="traffic-chart" id="trafficChart">
    <div class="canvas-holder">
      <canvas id="chart-area" width="250" height="250"></canvas>
      <div class="traffic-text">
        1,900,128
        <span>Total</span>
      </div>
    </div>
    <div class="traffic-legend"></div>
  </div>

  <div class="channels-info">
    <div>
      <div class="channels-info-item" ng-repeat="item in doughnutData | orderBy:'order'">
        <div class="legend-color" style="background-color: {{::item.color}}"></div>
        <p>{{::item.label}}<span class="channel-number">+{{item.percentage}}%</span></p>
        <div class="progress progress-sm channel-progress">
          <div class="progress-bar " role="progressbar"
               aria-valuenow="{{item.percentage}}" aria-valuemin="0" aria-valuemax="100" style="width:{{item.percentage}}%">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

