<div class="widgets" ng-init="vm.consultar()">
    <div class="row">
        <div class="col-md-8" ba-panel ba-panel-title="Roles de Usuarios" ba-panel-class="with-scroll">
            <form class="form-horizontal" name="formRoles" id="formRoles" ng-submit="vm.guardar(formRoles)" novalidate>
                <div class="form-group has-feedback" ng-class="{'has-error': formRoles.nombre_rol.$invalid && (formRoles.nombre_rol.$dirty || formRoles.nombre_rol.$submitted)}" >
                    <label for="nombre_rol" class="col-sm-2 control-label">Descripción:</label>
                    <div class="col-sm-10">
                        <input type="hidden" name="id_rol" ng-model="vm.data.id_rol">
                        <input type="text" class="form-control" id="nombre_rol" name="nombre_rol" placeholder="Rol de Usuario" ng-model="vm.data.nombre_rol" ng-required="true" rol-exist idrol="vm.data.id_rol" style="text-transform:uppercase" autocomplete="off" />
                        <span class="help-block error-block basic-block" ng-if="formRoles.nombre_rol.$error" >
                            <p ng-repeat="(key, value) in formRoles.nombre_rol.$error">
                                {{messages.nombre_rol[key]}}
                            </p>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success" ng-disabled="formRoles.$invalid || formRoles.$pending">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4" ba-panel ba-panel-title="Menú" ba-panel-class="with-scroll">
            <js-tree ng-model="vm.itemsUsuarios" idrol="vm.idrol"></js-tree>
        </div>
    </div>
</div>
