<div class="modal-content">
        <div class="modal-header bg-info" >
          <i class="ion-information-circled modal-icon"></i><span> Control de Acciòn</span>
        </div>
        <div class="modal-body text-left">
          <div class="col-md-12"> 
            Esta Seguro de Generar La {{item.no_tipo_comprobante}} {{item.nu_serie}}-{{item.nu_correlativo}} 
            <div id="result"></div>
            </div>
        </div>
            <div class="modal-footer"> 
              <form action="{{archivo}}" method="POST" target="_blank">
                  <input type="hidden" name="item" value="{{item}}">
                  <input type="hidden" name="oper" value="rpt_boleta">          
                  <button type="button" class="btn btn-info" ng-click="gen({{item}})" ng-disabled="respuesta==1" ><i class="fa fa-print fa-fw"></i> Generar</button>  
                  <button type="button" class="btn btn-danger" ng-click="cerrar()">Cancelar</button>
              </form>
        </div>
      
    </div>
      
    