<div class="modal-content">
    <div class="modal-header bg-info" >
      <i class="ion-information-circled modal-icon"></i><span> Envio de Correo Electronico</span>
    </div>
    <div class="modal-body">
           <div>Recuerde que para Realizar el Envio Correctamente ya deben estar Generados los Archivos Xml y Pdf.</div>
           <div></div>
           <div id="result"></div>
    </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-info" ng-click="enviaCorreo({{item}})"><i class="fa fa-print fa-fw"></i> Enviar</button>  
        <button type="button" class="btn btn-danger" ng-click="$dismiss()">Cancelar</button>
    </div>
</div>
  