<div class="widgets" ng-init="consultar()">
    <div class="row">
        <div ba-panel-title="TOTAL VENTAS" ba-panel ba-panel-class="with-scroll" class="col-md-6 col-lg-6">
            <div class="col-md-6">
                <h1 class="al-title ng-binding"><i class="fas fa-thumbs-up"></i> {{data.nu_ventas}} </h1>
            </div>
        </div>
        <div ba-panel-title="TOTAL INGRESOS" ba-panel ba-panel-class="with-scroll" class="col-md-6 col-lg-6">
            <div class="col-md-6">
                <h1 class="al-title ng-binding"><i class="fas fa-coins"></i> S/{{data.nu_total}}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div ba-panel
            ba-panel-title="Listado de Ventas<i ng-click='agregar()' class='fa pull-right fa-plus' style=' cursor: pointer;'></i>"
            ba-panel-class="with-scroll">
            <div class="form-group">
                <div class="col-sm-12">

                    <table class="table table-striped" st-pipe="callServer" st-table="displayed">
                        <thead>
                            <tr class="sortable ">
                                <th style="width:4%;" class="table-id">#</th>
                                <th style="width:10%;">Cliente</th>
                                <th style="width:6%;">F. Venta</th>
                                <th style="width:6%;">Recibo</th>
                                <th style="width:6%;">N° Venta</th>
                                <th style="width:6%;">Total</th>
                                <th style="width:6%;">Estado</th>
                                <th style="width:6%;">SUNAT</th>
                                <th style="width:10%;">&nbsp;</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <input st-search="no_cliente" class="input-sm form-control"
                                        placeholder="Busqueda cliente ..." type="search" /></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr st-select-row="row" ng-repeat="item in displayed">
                                <td class="table-id" style="text-align: right;">{{item.item}}</td>
                                <td>{{item.no_cliente }}</td>
                                <td>{{item.fe_emision }}</td>
                                <td>{{item.no_tipo_comprobante }}</td>
                                <td>{{item.numero_comprobante }}</td>
                                <td>{{item.nu_total }}</td>
                                <td><button class="status-button btn btn-xs" style="width: 90% !important;"
                                        ng-class="{'btn-warning': (item.no_estado=='Generado') , 'btn-success':(item.no_estado=='Valido'), 'btn-danger': (item.no_estado=='Anulado')}"><i
                                            class="ion-navigate"></i> {{item.no_estado}}</button> </td>
                                <td><button class="status-button btn btn-xs" style="width: 90%  !important;"
                                        ng-class="{'btn-warning': (item.no_estado_sunat=='Resumen') ,'btn-danger':(item.no_estado_sunat=='No Enviado'), 'btn-info': (item.no_estado_sunat=='Enviado')}"><i
                                            class="ion-clock"></i> {{item.no_estado_sunat}}</button> </td>
                                <td>
                                    <div class=" text-center btn-group" role="group" style="background: black;">
                                        <button type="button" title="Archivo Pdf" data-toggle="popover"
                                            class="btn btn-default btn-icon" ng-disabled="" data-toggle="modal"
                                            ng-click="openPdf('lg',item)"><i
                                                class="ion-clipboard text-primary"></i></button>
                                        <button type="button" title="Enviar Correo" data-toggle="popover"
                                            class="btn btn-default btn-icon" ng-disabled=""
                                            ng-click="openCorreo('lg',{{item}})"><i
                                                class="ion-link text-success"></i></button>

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="9" class="text-center" st-pagination="" st-items-by-page="10"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>