<div class="modal-content" ng-init="consultar()">
    <div class="modal-header bg-info">
        <i class="ion-information-circled modal-icon"></i>
        <span> Lista Item Insumo</span>
    </div>
    <div class="col-md-12">
        <div class="horizontal-scroll">
            <table st-safe-src="jinsumos" st-table="displayCollection"
                class="table table-striped table-hover table-condensed" ng-init="">
                <thead>
                    <tr class="sortable">
                        <th st-sort="id">#</th>
                        <th st-sort="no_insumo">Insumo</th>
                        <th st-sort="fe_vencin">Fecha V.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="editable-row" ng-repeat="item in jinsumos" ng-if="displayCollection.length>0">
                        <td>{{item.id}}</td>
                        <td>
                            {{item.no_insumo}}
                        </td>
                        <td> <a href="#" editable-bsdate="item.fe_vencin" e-is-open="opened.$data"
                                e-ng-click="open($event,'$data')" e-datepicker-popup="dd-MMMM-yyyy">
                                {{ (item.fe_vencin | date:"dd/MM/yyyy") || 'empty' }}
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-center">
                            <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="30"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <form action="{{archivo}}" method="POST" target="_blank">
            <input type="hidden" name="item" value="{{item}}">
            <input type="hidden" name="oper" value="rpt_boleta">
            <button type="button" class="btn btn-info" ng-click="gen({{item}})" ng-disabled="respuesta==1">
                <i class="fa fa-print fa-fw"></i>Aceptar</button>
            <button type="button" class="btn btn-danger" ng-click="cerrar()">Cancelar</button>
        </form>
    </div>

</div>