<div class="widgets">
    <div class="row">
        <div class="col-md-12">
            <div id="exportable" ba-panel
                ba-panel-title="Listado de Sucursales <i ng-click='agregar()' class='fa pull-right fa-plus'></i>"
                ba-panel-class="with-scroll">
                <table class="table table-striped" st-pipe="callServer" st-table="displayed">
                    <thead>
                        <tr class="sortable ">
                            <th style="width:5%;" class="table-id">#</th>
                            <th style="width:15%;">Sucursal</th>
                            <th style="width:35%;">Direccion</th>
                            <th style="width:35%;">Observacion</th>
                            <th style="width:10%;">&nbsp;</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>
                                <input st-search="nom_producto" class="input-sm form-control"
                                    placeholder="Busqueda Sucursal..." type="search" />
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr st-select-row="row" ng-repeat="item in displayed">
                            <td class="table-id" style="text-align: right;">{{item.id_sucursal}}</td>
                            <td>{{item.no_sucursal}}</td>
                            <td>{{item.no_direccion}}</td>
                            <td>{{item.no_observacion}}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a class="btn btn-xs btn-primary" title="Editar"
                                        ui-sref="dashboard.sucursal.sucursales-details({idsucursal: item.id_sucursal})"><i
                                            class="ion-edit"></i></a>
                                    <button class="btn btn-xs" ng-class="(item.status=='1')?'btn-success':'btn-danger'"
                                        ng-click="changeStatus(item.id_sucursal, item.status, displayed.indexOf(item))"
                                        title="Activar/inactivar"><i class="fa"
                                            ng-class="(item.status=='1')?'fa-check':'fa-ban'"> </i></button>
                                    <button class="btn btn-xs btn-danger" title="Eliminar"
                                        ng-click="eliminar(item.id_sucursal, displayed.indexOf(item))"><i
                                            class="ion-trash-a"></i></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>
                                <div>
                                    <button type="button" class="btn btn-warning" data-toggle="modal"
                                        ng-click="openModalExcel('md',displayed)"
                                        ng-disabled="displayed.length<=0">Exportar
                                        <span aria-hidden="true">&rarr;</span>
                                    </button>
                                </div>
                            </td>

                            <td colspan="4" class="text-left">
                                <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="10">
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>