<div class="widgets" ng-init="consultar()">
    <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="Registro de Cliente" ba-panel-class="with-scroll">
            <form class="form-horizontal" name="formCliente" id="formCliente" ng-submit="guardar(formCliente)"
                novalidate>
                <div class="form-group has-feedback">
                    <div class="col-sm-2" style="text-align: right;">
                        <label for="no_cliente">Nombre Cliente:</label>
                    </div>
                    <div class="col-sm-10">
                        <input id="no_cliente" ng-model="data.no_cliente" class="input-sm form-control"
                            placeholder="Nombre de cliente" type="text" />
                    </div>
                </div>                
                <div class="form-group has-feedback">
                    <div class="col-sm-2" style="text-align: right;">
                        <label for="id_tipo_documento">Tipo Documento:</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" id="id_tipo_documento" name="id_tipo_documento"
                            ng-model="data.id_tipo_documento"
                            ng-options="tipoDocumento.value as tipoDocumento.text for tipoDocumento in cTipoDocumento">
                        </select>
                    </div>

                    <div class="col-sm-2" style="text-align: right;">
                        <label for="nu_documento">N° Documento:</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="nu_documento" ng-model="data.nu_documento" class="input-sm form-control"
                            placeholder="# documento identidad" type="text" />
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <div class="col-sm-2" style="text-align: right;">
                        <label for="co_depart">Departamento:</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="select2_group form-control" name="co_depart"
                        ng-model="data.co_depart"
                        ng-options="idepartamento.value as idepartamento.text for idepartamento in a_departamento" ng-required="true"
                        ng-change="getpDepartamento(data)">
                    </select>
                    </div>
                    <div class="col-sm-2" style="text-align: right;">
                        <label for="co_provin">Provincia:</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="select2_group form-control" name="co_provin" ng-model="data.co_provin"
                            ng-change="getpProvincia(data)" ng-options="idprovincia.value as idprovincia.text for idprovincia in a_provincia"
                            ng-required="true">
                        </select>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-sm-2" style="text-align: right;">
                        <label for="co_distri">Distrito:</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="select2_group form-control" name="co_distri" ng-model="data.co_distri"
                            ng-options="iddistrito.value as iddistrito.text for iddistrito in a_distrito" ng-required="true">
                        </select>
                    </div>
                    <div class="col-sm-2" style="text-align: right;">
                        <label for="no_direccion">Dirección:</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="no_direccion" ng-model="data.no_direccion" class="input-sm form-control"
                            placeholder="Dirección" type="text" />
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-sm-2" style="text-align: right;">
                        <label for="nu_telefono">Teléfono:</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="nu_telefono" ng-model="data.nu_telefono" class="input-sm form-control"
                            placeholder="Teléfono" type="text" />
                    </div>
                    <div class="col-sm-2" style="text-align: right;">
                        <label for="email">E-mail:</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="email" ng-model="data.email" class="input-sm form-control"
                            placeholder="correo electronico" type="text" />
                    </div>
                </div>                
                <div class="form-group has-feedback">
                    <div class="col-sm-12" style="text-align: right;">
                        <button type="submit" class="btn btn-success"
                            ng-disabled="formCliente.$invalid || formCliente.$pending">Guardar</button>
                        &nbsp;&nbsp;&nbsp;
                        <a class="btn btn-default" ui-sref="dashboard.clientes.cliente"><i class="fa fa-list-alt"></i>
                            Listado</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>