<fondo></fondo>
</br>
</br>
<!-- content -->
<div class="sub-main-w3">
	<div class="row">
		<div class="col-sm-12">
			<img src="../assets/img/logo_logeo.png" alt="ViiN RESTOBAR">
		</div>
		<br>
		<div class="col-sm-12" style="text-align: center;">
			<center>
			<form name="formLogin" id="formLogin" ng-submit="signIn()" novalidate>
				<h2 style="text-align: center;">Ingrese Ahora
					<i class="fas fa-level-down-alt"></i>
				</h2>
				<div class="form-style-agile">
					<label>
						<i class="fas fa-user"></i>
						Usuario
					</label>
					<input type="text" placeholder="Ingrese el Usuario" class="form-control" id="username"
						name="username" ng-model="data.username" placeholder="Usuario" ng-required="true"
						autocomplete="off">
				</div>
				<div class="form-style-agile">
					<label>
						<i class="fas fa-unlock-alt"></i>
						Password
					</label>
					<input type="password" placeholder="Password" class="form-control" id="clave" name="clave"
						ng-model="data.clave">
				</div>

				<input type="submit" class="btn btn-default btn-auth" value="Ingresar" ng-disabled="formLogin.$invalid">
			</form>
		</center>
		</div>
	</div>


</div>
<!-- //content -->
<!-- copyright -->
<div class="footer">
	<p>&copy; Derechos Reservados 2019 | por SOLUCIONES TECNOLOGICAS VIIN S.A.C
	</p>
</div>
<!-- //copyright -->