<div class="widgets">
    <div class="row">
        
        <div ba-panel ba-panel-title="Listado de Insumo <i ng-click='agregar()' class='fa pull-right fa-plus'></i>" ba-panel-class="with-scroll">
            
            <div class="form-group">
                <div class="col-sm-12">

                    <table class="table table-striped" st-pipe="callServer" st-table="displayed">
                        <thead>
                            <tr class="sortable">
                                <th style="width:4%;" class="table-id">#</th>
                                <th style="width:15%;">Nombre Insumo</th>
                                <th style="width:10%;">Categoria</th>
                                <th style="width:10%;">Unidad</th>
                                <th style="width:10%;">Medida</th>
                                <th style="width:6%;">Cant. x Med.</th>
                                <th style="width:6%;">Stock Minimo</th>
                                <th style="width:6%;">Precio Sugerido</th>
                                <th style="width:10%;">&nbsp;</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <input st-search="no_insumo" class="input-sm form-control"
                                        placeholder="Busqueda Insumo ..." type="search" />
                                </th> 
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>                                     
                            </tr>
                        </thead>
                        <tbody>
                            <tr st-select-row="row" ng-repeat="item in displayed">
                                <td class="table-id" style="text-align: right;">{{item.item}}</td>                              
                                <td>{{item.no_insumo }}</td>   
                                <td>{{item.no_categoria_insumo }}</td> 
                                <td>{{item.no_unidad }}</td> 
                                <td>{{item.no_medida }}</td> 
                                <td>{{item.nu_cantidad_medida }}</td> 
                                <td>{{item.nu_stock_minimo }}</td> 
                                <td>{{item.nu_precio_sugerido }}</td>                            
                                <td>
                                    <div class="btn-group" role = "group" >
                                            <a class="btn btn-xs btn-primary" title ="Editar" ui-sref="dashboard.almacen.insumo-details({idInsumo: item.id_insumo})"><i class="ion-edit"></i></a>
                                            <button class="btn btn-xs btn-danger" title ="Eliminar" ng-click="eliminar(item.id_insumo, displayed.indexOf(item))"><i class="ion-trash-a"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="9" class="text-center" st-pagination="" st-items-by-page="10"></td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>