<div class="widgets">
    <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="Empresa" ba-panel-class="with-scroll">
            <form class="form-horizontal" name="formEmpresa" id="formEmpresa" ng-submit="guardar(formEmpresa)" novalidate>
                <div class="form-group has-feedback" ng-class="{'has-error': formEmpresa.num_doc.$invalid && (formEmpresa.num_doc.$dirty || formClient.num_doc.$submitted)}" >
                    <label for="num_doc" class="col-sm-2 control-label">Tipo de Documento:</label>
                    <div class="col-sm-4">
                        <ui-select ng-model="data.idtipdoc" class="btn-group bootstrap-select form-control" >
                            <ui-select-match placeholder="Doc. Identid.">{{$select.selected.nombre}}</ui-select-match>
                            <ui-select-choices repeat="docidenti in jDocumentos | filter: $select.search">
                                <div ng-bind-html="docidenti.nombre | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span class="help-block error-block basic-block" ng-if="formEmpresa.idtipdoc.$error" >
                            <p ng-repeat="(key, value) in formEmpresa.idtipdoc.$error">
                                {{messages.idtipdoc[key]}}
                            </p>
                        </span>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="num_doc" name="num_doc" placeholder="Nº Documento" ng-model="data.num_doc" ng-required="true"  ng-disabled="formEmpresa.idtipdoc.$invalid" autocomplete="off" />
                        <span class="help-block error-block basic-block" ng-if="formEmpresa.num_doc.$error" >
                            <p ng-repeat="(key, value) in formEmpresa.num_doc.$error">
                                {{messages.num_doc[key]}}
                            </p>
                        </span>
                    </div>
                </div>       
                <div class="form-group" ng-class="{'has-error': formEmpresa.nombre_empresa.$invalid && (formEmpresa.nombre_empresa.$dirty || formEmpresa.nombre_empresa.$submitted)}" >
                    <label for="nombre_empresa" class="col-sm-2 control-label">Razón Social:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nombre_empresa" name="nombre_empresa" placeholder="Razón Social" ng-model="data.nombre_empresa" ng-required="true" style="text-transform:uppercase" />
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': formEmpresa.nombre_comercial.$invalid && (formEmpresa.nombre_comercial.$dirty || formEmpresa.nombre_comercial.$submitted)}" >
                    <label for="nombre_comercial" class="col-sm-2 control-label">Nombre Sucursal:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="nombre_comercial" name="nombre_comercial" placeholder="Nombre Sucursal" ng-model="data.nombre_comercial" style="text-transform:uppercase" />
                        <span class="help-block error-block basic-block" ng-if="formEmpresa.nombre_comercial.$error" >
                            <p ng-repeat="(key, value) in formEmpresa.nombre_comercial.$error">
                                {{messages.nombre_comercial[key]}}
                            </p>
                        </span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': formEmpresa.direccion.$invalid && (formEmpresa.direccion.$dirty || formEmpresa.direccion.$submitted)}" >
                    <label for="direccion" class="col-sm-2 control-label">Dirección:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Dirección" ng-model="data.direccion" style="text-transform:uppercase" />
                        <span class="help-block error-block basic-block" ng-if="formEmpresa.direccion.$error" >
                            <p ng-repeat="(key, value) in formEmpresa.direccion.$error">
                                {{messages.direccion[key]}}
                            </p>
                        </span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': formEmpresa.email.$invalid && (formEmpresa.email.$dirty || formEmpresa.email.$submitted)}" >
                    <label for="email" class="col-sm-2 control-label">Email:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="email" name="email" placeholder="Correo Electrónico" ng-model="data.email" style="text-transform:lowercase" />
                        <span class="help-block error-block basic-block" ng-if="formEmpresa.email.$error" >
                            <p ng-repeat="(key, value) in formEmpresa.email.$error">
                                {{messages.email[key]}}
                            </p>
                        </span>
                    </div>
                </div>
                <div class="form-group" ng-class="{'has-error': formEmpresa.telefono.$invalid && (formEmpresa.telefono.$dirty || formEmpresa.telefono.$submitted)}" >
                    <label for="telefono" class="col-sm-2 control-label">Teléfono:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="telefono" name="telefono" placeholder="Teléfono" ng-model="data.telefono" />
                        <span class="help-block error-block basic-block" ng-if="formEmpresa.telefono.$error" >
                            <p ng-repeat="(key, value) in formEmpresa.telefono.$error">
                                {{messages.telefono[key]}}
                            </p>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success" ng-disabled="formPais.$invalid || formPais.$pending">Guardar</button> 
                    </div>
                </div>
            </form>
        </div>
    </div>            
</div>