<div class="widgets" ng-init="consultar()">
    <div class="row">

        <div class="col-md-12" ba-panel ba-panel-title="Registro de Pedidos" ba-panel-class="with-scroll">
            <div class="col-xs-6 col-sm-4" ba-panel ba-panel-title="PEDIDOS" ba-panel-class="medium-panel with-scroll">
                <div ng-repeat="s in displayed">
                    <div ba-panel>
                        <div class="panel-body" ng-click="getDetalle(s)" style="cursor: pointer;">
                            <h1 class="al-title ng-binding"><i class="fas fa-utensils"></i> Mesa : {{s.no_mesas}}
                            </h1>
                        </div>
                        <button class="btn btn-xs btn-default" title="Pre Cuenta"
                                        ng-click="openPdf('mg',data)"><i
                                            class="ion-cash"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4" ba-panel ba-panel-title="DETALLE" ba-panel-class="medium-panel with-scroll">
                <table class="table table-striped" st-table="displayed2" st-safe-src="jproductos">
                    <thead>
                        <tr class="sortable">
                            <th style="width:5%;" class="table-id">#</th>
                            <th style="width:30%;">PRODUCTO</th>
                            <th style="width:30%;">C/U</th>
                            <th style="width:25%;">VALOR</th>
                            <th style="width:5%;">PAGO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr st-select-row="row" ng-repeat="item in displayed2">
                            <td class="table-id" style="text-align: right;">{{item.item}}</td>
                            <td>{{item.no_producto }}</td>
                            <td>{{item.cantidad }}</td>
                            <td>{{item.nu_precio }}</td>
                            <td>    
                                <div class="checkbox">
                                    <label class="custom-checkbox">
                                        <input type="checkbox" name="selectedFruits[]" value="" id="checkboxSuccess"
                                            ng-click="toggleSelection(item)">
                                        <span>{{s.text}}</span>
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-6 col-sm-4" ba-panel ba-panel-title="PAGO <h2 style='display: flex; justify-content: center; align-items: center; margin-bottom:0;'>
                    S/{{data.nu_total}}</h2>" ba-panel-class="medium-panel with-scroll">
                <div ba-panel>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="id_tipo_comprobante">Comprobante:</label>
                            <select class="select2_group form-control" name="id_tipo_comprobante"
                                ng-model="data.id_tipo_comprobante" ng-change="getCorrelativo(data)"
                                ng-options="comp.value as comp.text for comp in jcomprobante" ng-required="true">
                            </select>
                            <h4 style="text-align: center;">{{data.nu_serie}}{{'-'}}{{data.nu_correlativo}}</h4>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label for="codigo" class="control-label">Cliente:</label>
                            <input type="hidden" name="id_cliente" name="id_cliente" ng-modal="data.id_cliente"
                                class="form-control">
                            <div class="input-group">
                                <input type="text" class="form-control" id="no_cliente" name="no_cliente"
                                    placeholder="Cliente" ng-model="data.no_cliente" ng-required="true"
                                    ng-disabled="formOCompra.num_fac.$invalid || formOCompra.num_fac.$pending || formOCompra.fec_factura.$invalid" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="crearProduct('lg')"
                                        ng-disabled="formOCompra.num_fac.$invalid || formOCompra.num_doc.$invalid"><i
                                            class="fa fa-plus"></i></button>
                                    <button type="button" class="btn btn-default" ng-click="modalProducts('lg')"
                                        ng-disabled="formOCompra.num_fac.$invalid || formOCompra.num_doc.$invalid"><i
                                            class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div ba-panel>
                    <div class="form-group has-feedback">
                        <div class="col-sm-12">
                            <label for="apenom">Tipo Pago:</label>
                            <select class="select2_group form-control" name="id_tipo_pago" ng-model="data.id_tipo_pago"
                                ng-options="tipo.value as tipo.text for tipo in jtipopago" ng-required="true">
                            </select>

                            <div class="row" ng-show="data.id_tipo_pago==1">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label for="apenom">Efectivo:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="nu_efectivo" name="nu_efectivo"
                                            ng-model="data.nu_efectivo" ng-keypress="getVuelto($event)" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="data.id_tipo_pago==2">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label for="apenom">Izipay:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="nu_izipay" name="nu_izipay"
                                            ng-model="data.nu_izipay" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="data.id_tipo_pago==3">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label for="apenom">Efectivo:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="nu_efectivo" name="nu_efectivo"
                                            ng-model="data.nu_efectivo" />
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label for="apenom">Izipay:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="nu_izipay" name="nu_izipay"
                                            ng-model="data.nu_izipay" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="data.id_tipo_pago==4">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label for="apenom">Transferencia:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="nu_trasnferencia"
                                            name="nu_trasnferencia" ng-model="data.nu_trasnferencia" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="data.id_tipo_pago==5">
                                <div class="col-sm-12">
                                    <div class="col-sm-4">
                                        <label for="apenom">Credito:</label>
                                    </div>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="nu_credito" name="nu_credito"
                                            ng-model="data.nu_credito" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ba-panel>
                    <div class="form-group has-feedback">
                        <div class="col-sm-12">
                            <div class="col-sm-4">
                                <label for="apenom">Vuelto:</label>
                            </div>
                            <div class="col-sm-8">
                                <input id="nu_vuelto" class="form-control" id="nu_vuelto" name="nu_vuelto"
                                    ng-model="data.nu_vuelto" type="text" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" style="text-align: right;">
                    <button type="button" class="btn btn-success" ng-click="guardar()"
                        ng-disabled="formProducto.$invalid || formProducto.$pending">Guardar</button>
            </div>
        </div>

    </div>
</div>