@media only screen{
    #ticket{
        visibility: hidden !important;
    }
    button#print_temporal{
        visibility: visible !important;
    }
}
/*and (max-width:350px)*/
@media only print{
    body *{
        visibility: hidden !important;
        background-image: none !important;
        clear: initial;
    }
   .ticket *{
       border: 1px solid #000;
        visibility: visible !important;
        width: 300px;
        margin-top: -900px;
        margin-left: -195px;
        font-size: 12px;
        font-family: 'Times New Roman' !important;
    }
    
    .ticket > table {
        width: 400px !important;
        border: 3px solid;
    }

    .ticket p.centrado {
        text-align: center;
    }

    .ticket table td {
        border: 1px solid black;
    }
    .ticket > table > tbody td.cantidad, .ticket > table > thead th.cantidad {
        max-width:12px !important;
        word-break: break-all;
    }
    th.precio {
        width: 15% !important;
        text-align: center !important;
    }
    th.producto{
        width:70% !important;
    }
    th.cantidad {
        width: 10% !important;
    }
    td.precio{
        text-align: right !important;
        word-break: break-all;
    }
    td.cantidad{
        text-align: center;
        word-break: break-all;
    }

    h1, h2, h3, h4, h5, h6, li, a, button {
        font-family: 'Orbitron', sans-serif;
    }
}