<div class="widgets">
    <div class="row">
        <div class="col-md-12" >
        <div ba-panel ba-panel-title="Listado de Roles <button type='button' class='btn btn-link pull-right' ng-click='agregar()' ><i class='fa fa-plus'></i> Agregar</button>" ba-panel-class="with-scroll">
            <table class="table table-striped" st-pipe="callServer" st-table="displayed">
                <thead>
                    <tr class="sortable ">
                        <th style="width:4%;" class="table-id">#</th>
                        <th style="width:84%;" >Descripción</th>
                        <th style="width:12%;">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr st-select-row="row" ng-repeat="item in displayed">
                        <td class="table-id" style="text-align: right;">{{item.item}}</td>
                        <td>{{item.no_rol_sistema}}</td>                       
                        <td >
                            <div class="btn-group" role = "group" >
                               <button class="btn btn-xs btn-primary" ng-click="editar(item.id_rol_sistema)"  title ="Editar"><i class="ion-edit" ></i></button>
                                <button class="btn btn-xs" ng-class="(item.status=='1')?'btn-success':'btn-danger'" ng-click="changeStatus(item.id_rol_sistema, item.status, displayed.indexOf(item))"  title = "Activar/inactivar" ><i class="fa" ng-class="(item.status=='1')?'fa-check':'fa-ban'" > </i></button>
                                <button class="btn btn-xs btn-danger" ng-click="eliminar(item.id_rol_sistema)"> <i class="fa fa-trash"></i> </button>
                            </div>
                        </td>        
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                    <td colspan="3" class="text-center" st-pagination="" st-items-by-page="10" ></td>
                    </tr>
                </tfoot>
            </table>            
        </div>
        </div>
    </div>
</div>