<div class="widgets">
    <div class="row">
        <div class="col-md-7" ba-panel ba-panel-title="Registro de Categoria Insumo" ba-panel-class="with-scroll">
            <form class="form-horizontal" name="formCategoriaInsumo" id="formCategoriaInsumo"
                ng-submit="guardar(formCategoriaInsumo)" novalidate>
                <div class="col-sm-9">
                    <input id="no_categoria_insumo" ng-model="data.no_categoria_insumo"
                        class="input-sm form-control" placeholder="Nombre Categoria" type="text" />
                </div>
                <div class="col-sm-3" style="text-align: center;">
                    <button type="submit" class="btn btn-success"
                        ng-disabled="formCategoriaInsumo.$invalid || formCategoriaInsumo.$pending">Agregar
                        Categoria</button>
                </div>
            </form>
        </div>
        <div class="col-md-5" ba-panel ba-panel-title="Lista de Categoria Insumo" ba-panel-class="with-scroll">
            <div class="form-group">
                <div class="col-sm-12">
                    <table class="table table-striped" st-pipe="callServer" st-table="displayed">
                        <thead>
                            <tr class="sortable ">
                                <th style="width:4%;" class="table-id">#</th>
                                <th style="width:6%;">Nombre Categoria</th>
                                <th style="width:10%;">&nbsp;</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <input st-search="no_categoria_insumo" class="input-sm form-control"
                                        placeholder="Busqueda Categoria ..." type="search" />
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr st-select-row="row" ng-repeat="item in displayed">
                                <td class="table-id" style="text-align: right;">{{item.item}}</td>
                                <td>{{item.no_categoria_insumo}}</td>
                                <td>
                                    <div class="btn-group" role = "group" >
                                            <a class="btn btn-xs btn-primary" title ="Editar" ng-click="editar(item)"><i class="ion-edit"></i></a>
                                            <button class="btn btn-xs" ng-class="(item.status=='1')?'btn-success':'btn-danger'" ng-click="changeStatus(item.id_categoria_insumo, item.status, displayed.indexOf(item))"  title = "Activar/inactivar" ><i class="fa" ng-class="(item.status=='1')?'fa-check':'fa-ban'" > </i></button>                               
                                            <button class="btn btn-xs btn-danger" title ="Eliminar" ng-click="eliminar(item.id_categoria_insumo, displayed.indexOf(item))"><i class="ion-trash-a"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7" class="text-center" st-pagination="" st-items-by-page="10"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>