<div class="widgets" ng-init="consultar()">
    <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="Registro de Personal" ba-panel-class="with-scroll">
            <form class="form-horizontal" name="formEmpleado" id="formEmpleado" ng-submit="guardar(formEmpleado)"
                novalidate>
                <div class="form-group has-feedback">
                    <div class="col-sm-2" style="text-align: right;">
                        <label for="no_nombres">Nombre Empleado:</label>
                    </div>
                    <div class="col-sm-10">
                        <input id="no_nombres" ng-model="data.no_nombres" class="input-sm form-control"
                            placeholder="Nombre de empleado" type="text" />
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <div class="col-sm-2" style="text-align: right;">
                        <label for="no_apepat">Apellido Paterno:</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="no_apepat" ng-model="data.no_apepat" class="input-sm form-control"
                            placeholder="Apellido Paterno" type="text" />
                    </div>
                    <div class="col-sm-2" style="text-align: right;">
                        <label for="no_apemat">Apellido Materno:</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="no_apemat" ng-model="data.no_apemat" class="input-sm form-control"
                            placeholder="Apellido Materno" type="text" />
                    </div>
                </div>
                <div class="form-group has-feedback">

                    <div class="col-sm-2" style="text-align: right;">
                        <label for="id_sexo">Sexo:</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" id="id_sexo" name="id_sexo" ng-model="data.id_sexo"
                            ng-options="sexo.value as sexo.text for sexo in cSexo">
                        </select>
                    </div>

                    <div class="col-sm-2" style="text-align: right;">
                        <label for="id_estado_civil">Estado Civil:</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" id="id_estado_civil" name="id_estado_civil"
                            ng-model="data.id_estado_civil"
                            ng-options="estadoCivil.value as estadoCivil.text for estadoCivil in cEstadoCivil">
                        </select>
                    </div>

                </div>
                <div class="form-group has-feedback">

                    <div class="col-sm-2" style="text-align: right;">
                        <label for="id_tipo_documento">Tipo Documento:</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" id="id_tipo_documento" name="id_tipo_documento"
                            ng-model="data.id_tipo_documento"
                            ng-options="tipoDocumento.value as tipoDocumento.text for tipoDocumento in cTipoDocumento">
                        </select>
                    </div>

                    <div class="col-sm-2" style="text-align: right;">
                        <label for="nu_documento">N° Documento:</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="nu_documento" ng-model="data.nu_documento" class="input-sm form-control"
                            placeholder="# documento identidad" type="text" />
                    </div>

                </div>                

                <div class="form-group has-feedback">                    
                    <div class="col-sm-2" style="text-align: right;">
                        <label for="no_direccion">Dirección:</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="no_direccion" ng-model="data.no_direccion" class="input-sm form-control"
                            placeholder="Dirección" type="text" />
                    </div>
                    <div class="col-sm-2" style="text-align: right;">
                            <label for="fe_nacimiento">Fecha de Nacimiento:</label>
                        </div>
                        <div class="col-sm-4">
                            <div class="input-group" moment-picker="data.fe_nacimiento" locales="es" 
                                format="YYYY-MM-DD">
                                <input class="form-control" id="fe_nacimiento" name="fe_nacimiento"
                                    placeholder="Seleccione Una Fecha" ng-model="data.fe_nacimiento"
                                    ng-model-options="{ updateOn: 'blur'}">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-sm-2" style="text-align: right;">
                        <label for="nu_contacto">N° de Contacto:</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="nu_contacto" ng-model="data.nu_contacto" class="input-sm form-control"
                            placeholder="Teléfono" type="text" />
                    </div>
                    <div class="col-sm-2" style="text-align: right;">
                        <label for="email">E-mail:</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="email" ng-model="data.email" class="input-sm form-control"
                            placeholder="correo electronico" type="text" />
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-sm-2" style="text-align: right;">
                        <label for="fe_ingreso">Fecha de Ingreso:</label>
                    </div>
                    <div class="col-sm-4">
                        <div class="input-group" moment-picker="data.fe_ingreso" locales="es" start-view="month"
                            format="YYYY-MM-DD">
                            <input class="form-control" id="fe_ingreso" name="fe_ingreso"
                                placeholder="Seleccione Una Fecha" ng-model="data.fe_ingreso"
                                ng-model-options="{ updateOn: 'blur'}">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-sm-12" style="text-align: right;">
                        <button type="submit" class="btn btn-success"
                            ng-disabled="formEmpleado.$invalid || formEmpleado.$pending">Guardar</button>
                        &nbsp;&nbsp;&nbsp;
                        <a class="btn btn-default" ui-sref="dashboard.empleado.empleado"><i class="fa fa-list-alt"></i>
                            Listado</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>