<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Form Wizard" ba-panel-class="with-scroll">
                <ba-wizard>
                    <ba-wizard-step title="Informaciòn Personal" form="vm.personalInfoForm">
                        <form name="vm.personalInfoForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.personalInfoForm.username.$invalid && (vm.personalInfoForm.username.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="exampleUsername1">Nombres</label>
                                        <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Ingrese Nombres" ng-model="vm.personalInfo.nombres" >

                                    </div>
                                    <div class="form-group" ng-class="{'has-error': vm.personalInfoForm.email.$invalid && (vm.personalInfoForm.email.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="exampleInputEmail1">Tipo de Documento</label>
                                        <select class="form-control selectpicker" selectpicker title="Standard Select"
                                                ng-model="data.tip_documento"
                                                ng-options="tipdoc.id as tipdoc.text for tipdoc in [{id:'P', text:'Pasaporte'}, {id:'D', text:'DNI'}, {id:'R', text:'RUC'}, {id:'C', text:'Carnet Extranjero'}]">
                                         <option value=""> -- Tipo Documento --</option></select>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'has-error': vm.personalInfoForm.password.$invalid && (vm.personalInfoForm.password.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="exampleInputPassword1">Apellidos</label>
                                        <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Ingrese  apellidos" ng-model="vm.personalInfo.apellidos" >

                                    </div>
                                    <div class="form-group"  ng-class="{'has-error': !vm.arePersonalInfoPasswordsEqual() && (vm.personalInfoForm.confirmPassword.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="tipo_documento">Nro. Documento</label>
                                        <input type="text" class="form-control" id="nro_documento" name="nro_documento" placeholder="Ingrese Numero Documento" ng-model="vm.personalInfo.confirmPassword" >

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'has-error': vm.personalInfoForm.password.$invalid && (vm.personalInfoForm.password.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="exampleInputPassword1">Email</label>
                                        <input type="text" class="form-control" id="email" name="email" placeholder="Ingrese el Correo" ng-model="vm.personalInfo.email" >

                                    </div>
                                    <div class="form-group"  ng-class="{'has-error': !vm.arePersonalInfoPasswordsEqual() && (vm.personalInfoForm.confirmPassword.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="sexo">Sexo</label>
                                        <select class="form-control selectpicker" selectpicker title="Standard Select"
                                                ng-model="data.sexo"
                                                ng-options="tipdoc.id as tipdoc.text for tipdoc in [{id:'F', text:'Femenino'}, {id:'M', text:'Masculino'}]">
                                         <option value=""> -- Sexo --</option>
                                       </select>

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group" ng-class="{'has-error': vm.personalInfoForm.password.$invalid && (vm.personalInfoForm.password.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="exampleInputPassword1">Fecha de Nacimiento</label>
                                        <input type="text" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento" placeholder="selecione una fecha de nacimiento" ng-model="vm.personalInfo.fecha_nacimiento" >

                                    </div>
                                    <div class="form-group"  ng-class="{'has-error': !vm.arePersonalInfoPasswordsEqual() && (vm.personalInfoForm.confirmPassword.$dirty || vm.personalInfoForm.$submitted)}">
                                        <label for="sexo">Estado Civil</label>
                                        <select class="form-control selectpicker" selectpicker title="Standard Select"
                                                ng-model="data.sexo"
                                                ng-options="tipdoc.id as tipdoc.text for tipdoc in [{id:'1', text:'Solter@'}, {id:'2', text:'Divorsiad@'},{id:'3', text:'casad@'},{id:'4', text:'Viud@'},{id:'5', text:'Otro'}]">
                                         <option value=""> -- Edo-Civil --</option>
                                       </select>

                                    </div>
                                </div>

                            </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Informacion de Contacto" form="vm.productInfoForm">
                        <form name="vm.productInfoForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.productInfoForm.productName.$invalid && (vm.productInfoForm.productName.$dirty || vm.productInfoForm.$submitted)}">
                                        <label for="productName">Direcciòn Habitaciòn</label>
                                        <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Ingrese la Direccion" ng-model="vm.productInfo.productName" >

                                    </div>
                                    <div class="form-group" ng-class="{'has-error': vm.productInfoForm.productId.$invalid && (vm.productInfoForm.productId.$dirty || vm.productInfoForm.$submitted)}">
                                        <label for="productId">Telefono Movil</label>
                                        <input type="text" class="form-control" id="" name="tlf_movil" placeholder="Ingrese Telefono Movil" ng-model="vm.productInfo.tlf_movil" >

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-feedback"
                                         ng-class="{'has-error': vm.productInfoForm.productName.$invalid && (vm.productInfoForm.productName.$dirty || vm.productInfoForm.$submitted)}">
                                        <label for="productName">Email</label>
                                        <input type="text" class="form-control" id="email" name="email" placeholder="Ingrese el email" ng-model="vm.productInfo.email" >

                                    </div>
                                    <div class="form-group" ng-class="{'has-error': vm.productInfoForm.productId.$invalid && (vm.productInfoForm.productId.$dirty || vm.productInfoForm.$submitted)}">
                                        <label for="productId">Telefono Habitaciòn</label>
                                        <input type="text" class="form-control" id="tlf_hab" name="tlf_hab" placeholder="Ingrese Telefono Habitacion" ng-model="vm.productInfo.tlf_hab" >

                                    </div>
                                </div>

                            </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Informacion del Trabajo"  form="vm.addressForm">
                        <form name="vm.addressForm" novalidate>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback"
                                    <div class="form-group">
                                        <label for="productName">Area</label>
                                        <select class="form-control" title="Category" selectpicker>
                                            <option selected>RRHH</option>
                                            <option>Laboratorio</option>
                                              <option>Sistemas</option>
                                                <option>Logistica</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="productName">Puesto de Trabajo</label>
                                        <select class="form-control" title="Category" selectpicker>
                                            <option selected>Programador</option>
                                            <option>Analista</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback"
                                    <div class="form-group">
                                        <label for="productName">Horario Mintra</label>
                                        <select class="form-control" title="Category" selectpicker>
                                            <option selected>Full Time </option>
                                            <option>Party Time</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="productName">Forma de Pago</label>
                                        <select class="form-control" title="Category" selectpicker>
                                          <option selected>Efectivo</option>
                                          <option>Transferencia</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback"
                                    <div class="form-group">
                                        <label for="productName">Entidad Bancaria</label>
                                        <select class="form-control" title="Category" selectpicker>
                                            <option selected>BBC</option>
                                            <option>Wester</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                        </form>
                    </ba-wizard-step>
                    <ba-wizard-step title="Finalizado">
                        <form class="form-horizontal" name="vm.finishForm" novalidate>
                            Felicitaciones ! Usted ha completado Todo el Formulario!
                        </form>
                    </ba-wizard-step>
                </ba-wizard>
            </div>
        </div>
    </div>

</div>
