<div class="widgets" ng-init="consultar()">
    <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="Departamento [PAIS]" ba-panel-class="with-scroll">
            <form class="form-horizontal" name="formDptopais" id="formDptopais" ng-submit="guardar(formDptopais)" novalidate>
                <div class="form-group has-feedback" ng-class="{'has-error': formDptopais.id_pais.$invalid && (formDptopais.id_pais.$dirty || formDptopais.id_pais.$submitted)}" >
                    <label for="id_pais" class="col-sm-2 control-label">Pais:</label>
                    <div class="col-sm-10">
                        <input type="hidden" id="id_dpto" name="id_dpto" ng-model="data.id_dpto" >
                        <ui-select ng-model="data.id_pais" class="btn-group bootstrap-select form-control" on-select="cargar_estados()" >
                            <ui-select-match placeholder="Pais">{{$select.selected.desc_pais}}</ui-select-match>
                            <ui-select-choices repeat="pais in jPais | filter: $select.search">
                            <div ng-bind-html="pais.desc_pais | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                        <span class="help-block error-block basic-block" ng-if="formDptopais.id_pais.$error" >
                            <p ng-repeat="(key, value) in formDptopais.id_pais.$error">
                                {{messages.id_pais[key]}}
                            </p>
                        </span>
                    </div>
                </div>
                <div class="form-group has-feedback" ng-class="{'has-error': formDptopais.nom_estado.$invalid && (formDptopais.nom_estado.$dirty || formDptopais.nom_estado.$submitted)}" >
                    <label for="nom_estado" class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="nom_estado" name="nom_estado" placeholder="Departamento/PAIS" ng-model="data.nom_estado" ng-required="true" dpto-exist idpais="data.id_pais" style="text-transform:uppercase" ng-disabled="formDptopais.id_pais.$invalid || formDptopais.$submit" autocomplete="off" />
                        <span class="help-block error-block basic-block" ng-if="formDptopais.nom_estado.$error" >
                            <p ng-repeat="(key, value) in formDptopais.nom_estado.$error">
                                {{messages.nom_estado[key]}}
                            </p>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success" ng-disabled="formDptopais.$invalid || formDptopais.$pending">Guardar</button> 
                    </div>
                </div>
            </form>
        </div>
    </div>            
</div>