<div class="widgets">
    <div class="row">
        <form class="form-horizontal" name="formProductoMenu" id="formProductoMenu"
            ng-submit="guardar(formProductoMenu)" novalidate>
            <div class="col-md-12" ba-panel ba-panel-title="Menu del día" ba-panel-class="with-scroll">
                <div class="form-group has-feedback">
                    <div class="col-md-2" style="text-align: right;">
                        <label for="no_producto">Producto:</label>
                    </div>
                    <div class="col-md-4" style="text-align: right;">
                        <select class="form-control" id="id_producto" name="id_producto" ng-model="data.id_producto"
                            ng-options="pro.value as pro.text for pro in jproducto">
                        </select>
                    </div>
                    <div class="col-md-2" style="text-align: right;">
                        <label for="nu_cantidad_platos">Cantidad de platos:</label>
                    </div>
                    <div class="col-md-2" style="text-align: right;">
                        <input id="nu_cantidad_platos" ng-model="data.nu_cantidad_platos" class="input-md form-control"
                            placeholder="Cantidad de Platos" type="text" />
                        </select>
                    </div>
                    <div class="col-md-2" style="text-align: right;">
                        <button class="btn btn-success" type="button" title="Generar Insumos"
                            ng-click="guardar()">Generar Insumos</button>
                    </div>
                </div>
            </div>
        </form>

        <div class="col-md-12" ba-panel ba-panel-title="Lista de Menú" ba-panel-class="with-scroll">
            <div class="col-sm-12">
                <div class="row accordions-row">
                    <div id="resta" />
                    <uib-accordion ng-repeat="item in valores">
                        <uib-accordion-group panel-class="panel-info bootstrap-panel accordion-panel">
                            <uib-accordion-heading>
                                {{item.no_producto}} <span class="pull-right">para:
                                    &nbsp;&nbsp;{{item.nu_cantidad_platos}}&nbsp;&nbsp;Platos&nbsp;&nbsp;<i
                                        class="fas fa-utensils"></i></span>
                            </uib-accordion-heading>
                            <table class="table table-striped" style="color: #ffffff; text-align: center;"
                                st-table="displayed" st-safe-src="item.detalle">
                                <thead>
                                    <tr class="sortable ">
                                        <th style="width:40%; text-align: center;">Insumo</th>
                                        <th style="width:10%; text-align: center;">Cant.</th>
                                        <th style="width:30%; text-align: center;">Medida</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr st-select-row="row" ng-repeat="itms in displayed"
                                        style="border: 0.5px solid; border-color: rgba(255, 255, 255, 0.2);">
                                        <td>{{ itms.no_insumo }}</td>
                                        <td>{{ itms.nu_cantidad }}</td>
                                        <td>{{ itms.no_medida }}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="4" class="text-center" st-pagination="" st-items-by-page="10"></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </uib-accordion-group>
                    </uib-accordion>
                </div>
            </div>
        </div>
    </div>
</div>