<div class="widgets">
    <div class="row">
        <div ba-panel
            ba-panel-title="Listado de Productos<i ng-click='agregar()' class='fa pull-right fa-plus' style=' cursor: pointer;'></i>"
            ba-panel-class="with-scroll">
            <div class="form-group">
                <div class="col-sm-12">
                    <table class="table table-striped" st-pipe="callServer" st-table="displayed">
                        <thead>
                            <tr class="sortable ">
                                <th style="width:4%;" class="table-id">#</th>
                                <th style="width:30%;">Producto</th>
                                <th style="width:20%;">Categoria</th>
                                <th style="width:25%;">Destino</th>
                                <th style="width:6%;">Precio Venta</th>
                                <th style="width:5%;">Detalle</th>
                                <th style="width:10%;">&nbsp;</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <input st-search="no_producto" class="input-sm form-control"
                                        placeholder="Busqueda proveedor ..." type="search" /></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr st-select-row="row" ng-repeat="item in displayed">
                                <td class="table-id" style="text-align: right;">{{item.item}}</td>
                                <td>{{item.no_producto }}</td>
                                <td>{{item.no_categoria_producto }}</td>
                                <td>{{item.no_destino }}</td>
                                <td>{{item.nu_precio }}</td>
                                <td style="text-align: center;"> <a class="btn btn-xs btn-success" title="Ver Imagen"
                                        ui-sref="dashboard.producto.producto-details2({idProducto: item.id_producto})"><i
                                            class="ion-images"></i></a>
                                </td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-xs btn-primary" title="Editar"
                                            ui-sref="dashboard.producto.producto-details({idProducto: item.id_producto})"><i
                                                class="ion-edit"></i></a>                                        
                                        <button class="btn btn-xs btn-danger" title="Eliminar"
                                            ng-click="eliminar(item.id_producto, displayed.indexOf(item))"><i
                                                class="ion-trash-a"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7" class="text-center" st-pagination="" st-items-by-page="10"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>