<div class="widgets" ng-init="consultar()">
    <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="Datos Producto" ba-panel-class="with-scroll">
            <div class="col-md-8">
                <label for="no_producto">Producto:</label>
                <input id="no_producto" ng-model="dataproducto.no_producto" class="input-sm form-control"
                    placeholder="Nombre de Producto" type="text" />
                <br>
                <label for="no_categoria">Categoria:</label>
                <input id="no_categoria" ng-model="dataproducto.no_categoria" class="input-sm form-control"
                    placeholder="Categoria" type="text" />
                <br>
                <label for="nu_precio">Precio:</label>
                <input id="nu_precio" ng-model="dataproducto.nu_precio" class="input-sm form-control" placeholder="Precio"
                    type="text" />
            </div>
            <div class="col-md-4">
                <div class="userpic">
                    <div class="userpic-wrapper">
                        <img src="api/{{dataproducto.ruta_imagen}}">
                    </div>
                </div>
            </div>  
            <table class="table table-striped" st-table="displayed" st-safe-src="rowInsumos">
                    <thead>
                        <tr class="sortable ">
                            <th style="width:5%;" class="table-id">#</th>
                            <th style="width:15%;">Nombre Insumo</th>
                            <th style="width:10%;">Cantidad</th>
                            <th style="width:10%;">Medida</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr st-select-row="row" st-select-mode="multiple" ng-repeat="item in displayed">
                            <td class="table-id" style="text-align: right;">{{item.item}}</td>
                            <td>{{item.no_insumo }}</td>
                            <td>{{item.nu_cantidad }}</td>
                            <td>{{item.no_medida }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4" class="text-center" st-pagination="" st-items-by-page="10"></td>
                        </tr>
                    </tfoot>
                </table>
                <br>
                <div class="form-group">
                        <div class="col-sm-10">
                            <a class="btn btn-default" ui-sref="dashboard.producto.producto"><i class="fa fa-list-alt"></i>
                                Listado</a>
                        </div>
                    </div>

        </div>
    </div>
</div>