<div class="widgets" ng-init="consultarV()">
    <div class="row">
        <form class="form-horizontal" name="formProducto" id="formProducto" ng-submit="guardar(formProducto)"
            novalidate>
            <div class="col-md-8" ba-panel ba-panel-title="Registro de Producto" ba-panel-class="with-scroll">
                <div class="form-group has-feedback">
                    <div class="col-md-2" style="text-align: right;">
                        <label for="no_producto">Nombre:</label>
                    </div>
                    <div class="col-md-4">
                        <input id="no_producto" ng-model="data.no_producto" class="input-md form-control"
                            placeholder="Nombre Producto" type="text" />
                    </div>

                    <div class="col-md-2" style="text-align: right;">
                        <label for="apenom">Categoria:</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" id="id_categoria_producto" name="id_categoria_producto"
                            ng-model="data.id_categoria_producto"
                            ng-options="cat.value as cat.text for cat in jcategoria">
                        </select>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <div class="col-md-2" style="text-align: right;">
                        <label for="nu_precio">Precio:</label>
                    </div>
                    <div class="col-md-4">
                        <input id="nu_precio" ng-model="data.nu_precio" class="input-md form-control" placeholder="0.0"
                            type="text" />
                    </div>
                    <div class="col-md-2" style="text-align: right;">
                        <label for="apenom">Destino:</label>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" id="id_destino" name="id_destino" ng-model="data.id_destino"
                            ng-options="dest.value as dest.text for dest in jdestino">
                        </select>
                    </div>

                </div>

                <div class="form-group has-feedback">
                    <div class="col-md-2" style="text-align: right;">
                        <label for="apenom">Imagen:</label>
                    </div>
                    <div class="col-md-6">
                        <button type="file" class="btn btn-success" ng-model="data.ruta_imagen" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="5MB">
                            Selecione Archivo</button>
                            {{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                    </div>
                </div>


                <div class="col-md-12" ba-panel ba-panel-title="Insumos para el Producto" ba-panel-class="with-scroll">
                    <div class="form-group has-feedback">
                        <div class="col-md-2" style="text-align: right;">
                            <label for="apenom">Insumo:</label>
                        </div>
                        <div class="col-md-10">
                            <div class="input-group">
                                <input type="text" class="form-control with-danger-addon" ng-model="datap.no_insumo"
                                    name="no_insumo" id="no_insumo" placeholder="Seleccione Insumo" disabled>
                                <span class="input-group-btn">
                                    <button id="consul" name="consul" class="btn btn-danger" type="button"
                                        data-toggle="modal" ng-click="openInsumo('lg')">Buscar!</button>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group has-feedback">
                        <div class="col-md-2" style="text-align: right;">
                            <label for="nu_cantidad">Cantidad:</label>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input id="nu_cantidad" ng-model="datap.nu_cantidad" class="input-sm form-control"
                                    placeholder="0.0" type="text">
                                <span class="input-group-addon input-group-addon-warning addon-right"
                                    id="basic-addon2">{{datap.no_medida}}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <div class="col-md-8" style="text-align: right;">
                        </div>
                        <div class="col-md-2" style="text-align: right;">
                            <button class="btn btn-success" type="button" title="Agregar Insumo" ng-click="addItem()"><i
                                    class="fa fa-plus"></i> Agregar</button>
                        </div>

                        <div class="col-md-2" style="text-align: right;">
                            <button class="btn btn-danger" type="button" title="Canelar"
                                ng-click="editar(item.noCategoriaInsumo)"><i class="ion-close"></i>
                                Cancelar</button>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <div class="col-md-12">

                            <table class="table table-striped" st-table="displayed" st-safe-src="rowCollection">
                                <thead>
                                    <tr class="sortable ">
                                        <th style="width:4%;" class="table-id">#</th>
                                        <th style="width:15%;">Nombre Insumo</th>
                                        <th style="width:6%;">Cantidad</th>
                                        <th style="width:15%;">Medida</th>
                                        <th style="width:6%;">&nbsp;</th>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr st-select-row="row" st-select-mode="multiple" ng-repeat="item in displayed">
                                        <td class="table-id" style="text-align: right;">{{item.item}}</td>
                                        <td>{{item.no_insumo }}</td>
                                        <td>{{item.nu_cantidad }}</td>
                                        <td>{{item.no_medida }}</td>
                                        <td>
                                            <div class="btn-group" role="group">
                                                <button class="btn btn-xs btn-danger" title="Eliminar"
                                                    ng-click="quitar_producto(item.id, displayed.indexOf(item))"><i
                                                        class="ion-trash-a"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="7" class="text-center" st-pagination="" st-items-by-page="10">
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4" ba-panel ba-panel-title="SUCURSALES" ba-panel-class="with-scroll">
                <div class="form-group has-success" ng-repeat="s in jsucursal">
                    <div class="checkbox">
                        <label class="custom-checkbox">
                            <input type="checkbox" name="selectedFruits[]" value="{{s.text}}" id="checkboxSuccess"
                                ng-checked="selection.indexOf(s.value) > -1" ng-click="toggleSelection(s.value)">
                            <span>{{s.text}}</span>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success"
                            ng-disabled="formProducto.$invalid || formProducto.$pending">Guardar</button>
                        &nbsp;&nbsp;&nbsp;
                        <a class="btn btn-default" ui-sref="dashboard.producto.producto"><i class="fa fa-list-alt"></i>
                            Listado</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>