<div class="widgets">
    <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="Apertura/Cierre de Caja" ba-panel-class="with-scroll">
            <form class="form-horizontal" name="formProducto" id="formProducto" ng-submit="guardar(formProducto)"
                novalidate>
                <div class="form-group has-feedback">
                    <div class="col-sm-12">
                        <table class="table table-striped" st-pipe="callServer" st-table="displayed">
                            <thead>
                                <tr class="sortable ">
                                    <th style="width:4%;" class="table-id">#</th>
                                    <th style="width:25%;">Caja</th>
                                    <th style="width:25%;">Sucursal</th>
                                    <th style="width:35%;">Cajero</th>
                                    <th style="width:10%;">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr st-select-row="row" ng-repeat="item in displayed">
                                    <td class="table-id" style="text-align: right;">{{item.item}}</td>
                                    <td>{{item.no_caja}}</td>
                                    <td>{{item.no_sucursal}}</td>
                                    <td>{{item.no_empleado}}</td>
                                    <td>
                                        <div class="btn-group" role="group" > <span>{{item.mensaje}}</span> 
                                            <button ng-if="item.bloqueo" class="btn btn-xs {{item.color}}" type="button" title="{{item.titulo}}"
                                            ng-click="openMoto('lg',item)"><i class="{{item.icono}}"></i></button>
                                            
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5" class="text-center" st-pagination="" st-items-by-page="10"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>