<div class="widgets">
        <div class="row">
        <div ba-panel
            ba-panel-title="Listado de Mesas<i ng-click='agregar()' class='fa pull-right fa-plus' style=' cursor: pointer;'></i>"
            ba-panel-class="with-scroll">
            <div class="form-group">
                <div class="col-sm-12" st-pipe="callServer" st-table="displayed">
                    <div ng-repeat="item in displayed" class="col-sm-4" style="cursor: pointer;" ui-sref="dashboard.atencion.mozo-details({idPedido: item.id_pedido_cabecera})">
                        <div ba-panel>
                            <div class="panel-body" style="padding-right: 0; padding-top: 0; padding-left: 0; padding-bottom: 0;">
                                <h2 class="al-title ng-binding"><i class="fas fa-utensils"></i> Mesa : {{item.no_mesas}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>