<div class="widgets">
    <div class="row">
        <div class="col-sm-8">
            <div ba-panel ba-panel-title="Listado de Stock Insumos" ba-panel-class="with-scroll">
                <div class="col-sm-12">

                    <table class="table table-striped" st-pipe="callServer" st-table="displayed">
                        <thead>
                            <tr class="sortable">
                                <th style="width:5%;" class="table-id">#</th>
                                <th style="width:30%;">Nombre Insumo</th>
                                <th style="width:25%;">Categoria</th>
                                <th style="width:20%;">Cantidad</th>
                                <th style="width:20%;">Unidades</th>
                                <th style="width:5%;">Detalle</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <input st-search="no_insumo" class="input-sm form-control"
                                        placeholder="Busqueda Insumo ..." type="search" />
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr st-select-row="row" ng-repeat="item in displayed">
                                <td class="table-id" style="text-align: right;">{{item.item}}</td>
                                <td>{{item.no_insumo }}</td>
                                <td>{{item.no_categoria_insumo }}</td>
                                <td>{{item.nu_cantidad }} {{item.no_abreviatura }}</td>
                                <td>{{item.unidades }} {{item.no_unidad }}</td>
                                <td style="text-align: center;"> <a class="btn btn-xs btn-success"  
                                    ui-sref="dashboard.almacen.stockInsumos-details2({idInsumo: item.id_insumo})"><i
                                        class="ion-images"></i></a>
                            </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6" class="text-center" st-pagination="" st-items-by-page="10"></td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div ba-panel ba-panel-title="Barra Stock Insumos" ba-panel-class="with-scroll">
                <div id="chartdiv" class="admin-chart" ng-controller="stockinsumolistCtrl"></div>
            </div>
        </div>
    </div>
</div>