<div class="widgets" ng-init="consultar()">
    <div class="row">
        <div class="col-md-8" ba-panel ba-panel-title="Usuario" ba-panel-class="with-scroll">
            <form name="formUsuario" id="formUsuario" ng-submit="guardar(formUsuario)" novalidate>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group"
                            ng-class="{'has-error': formUsuario.idtipdoc.$invalid && (formUsuario.num_doc.$dirty || formUsuario.num_doc.$submitted)}">
                            <label for="idtipdoc">Tipo de Documento: </label>
                            <ui-select name="idtipdoc" id="idtipdoc" ng-model="data.idtipdoc"
                                class="btn-group bootstrap-select form-control">
                                <ui-select-match placeholder="Tipo Documento">{{$select.selected.nombre}}
                                </ui-select-match>
                                <ui-select-choices repeat="tipodocumento in jTipDocumentos | filter: $select.search">
                                    <div ng-bind-html="tipodocumento.nombre | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="help-block error-block basic-block" ng-if="formUsuario.idtipdoc.$error">
                                <p ng-repeat="(key, value) in formUsuario.idtipdoc.$error">
                                    {{messages.idtipdoc[key]}}
                                </p>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group" ng-class="{'has-error': formUsuario.num_doc.$invalid}">
                            <label for="num_doc">Nº de Documento:</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="num_doc" name="num_doc"
                                    placeholder="N° de Documento" ng-model="data.num_doc" ng-required="true" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="modalProducts('lg')"><i
                                            class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="apenom">Apellidos y Nombres:</label>
                            <input type="text" class="form-control" id="apenom" name="apenom"
                                placeholder="Apellidos y Nombres" ng-model="data.apenom" ng-required="true"
                                ng-disabled="true" />
                            <span class="help-block error-block basic-block" ng-if="formUsuario.apenom.$error">
                                <p ng-repeat="(key, value) in formUsuario.apenom.$error">
                                    {{messages.apenom[key]}}
                                </p>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" ng-class="{'has-error':formUsuario.usuario.$invalid}">
                            <label for="usuario">Usuario:</label>
                            <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Usuario"
                                ng-required="true" ng-model="data.usuario" ng-disabled="data.idempleado==0" exist-user
                                idusuario="data.idusuario" autocomplete="off" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error':formUsuario.password.$invalid}">
                            <label for="password">Contraseña:</label>
                            <input type="password" class="form-control" name="password" ng-required="true"
                                ng-model="data.password" ng-disabled="formUsuario.usuario.$invalid" password-strong />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error':formUsuario.rep_passw.$invalid}">
                            <label for="rep_passw" class="control-label">Rep. Contraseña:</label>
                            <input type="password" class="form-control" id="rep_passw" name="rep_passw"
                                ng-required="true" ng-model="data.rep_passw" ng-disabled="formUsuario.usuario.$invalid"
                                equal-to-password password="data.password" />
                        </div>
                    </div>
                </div>                
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" ng-class="{'has-error':formUsuario.idSucursal.$invalid}">
                            <label class="control-label">Sucursal:</label>
                            <ui-select id="idSucursal" name="idSucursal" ng-model="data.idSucursal"
                                class="btn-group bootstrap-select form-control">
                                <ui-select-match placeholder="Susursal">{{$select.selected.no_sucursal}}
                                </ui-select-match>
                                <ui-select-choices repeat="rol in jSucursal | filter: $select.search">
                                    <div ng-bind-html="rol.no_sucursal | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" ng-class="{'has-error':formUsuario.idrol_sistema.$invalid}">
                            <label class="control-label">Rol de Usuario:</label>
                            <ui-select id="idrol_sistema" name="idrol_sistema" ng-model="data.idrol_sistema"
                                class="btn-group bootstrap-select form-control"
                                on-select="cargarMenu(data.idrol_sistema)"> 
                                <ui-select-match placeholder="Rol de Usuario">{{$select.selected.no_rol_sistema}}
                                </ui-select-match>
                                <ui-select-choices repeat="rol in jRoles | filter: $select.search">
                                    <div ng-bind-html="rol.no_rol_sistema | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="row" ng-show="data.idrol_sistema.id_rol_sistema==3" >
                    <div class="col-md-12" ng-init="listarCajas()">
                        <div class="form-group" ng-class="{'has-error':formUsuario.idCaja.$invalid}">
                            <label class="control-label">Caja:</label>
                            <ui-select id="idCaja" name="idCaja" ng-model="data.idCaja"
                                class="btn-group bootstrap-select form-control">
                                <ui-select-match placeholder="Caja">{{$select.selected.no_caja}}
                                </ui-select-match>
                                <ui-select-choices repeat="rol in jCaja | filter: $select.search">
                                    <div ng-bind-html="rol.no_caja | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success"
                                ng-disabled="formUsuario.$invalid || formUsuario.$pending">Guardar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4" ba-panel ba-panel-title="Privilegio" ba-panel-class="with-scroll">
            <div class="form-group">
                <div class="col-sm-12">
                    <js-tree ng-model="data.permission" idrol="data.idrol_sistema.id_rol_sistema" hidden-checkbox="true"></js-tree>
                </div>
            </div>
        </div>
    </div>
</div>