<dashboard-pie-chart></dashboard-pie-chart>

<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12"
       ba-panel
       ba-panel-title="Canales de Adquisiciòn"
       ba-panel-class="medium-panel traffic-panel">
    <traffic-chart></traffic-chart>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12"
       ba-panel
       ba-panel-title="Clientes Ubicaciòn"
       ba-panel-class="medium-panel">
    <dashboard-map></dashboard-map>
  </div>
</div>

<div class="row">
  <div class="col-xlg-9 col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="row">
      <div class="col-xlg-8 col-lg-12 col-md-12 col-sm-7 col-xs-12"
           ba-panel
           ba-panel-title="Grafico"
           ba-panel-class="medium-panel">
        <dashboard-line-chart></dashboard-line-chart>
      </div>
    </div>
  </div>

</div>


