<div class="widgets" ng-init="consultar()">
    <div class="row">
        <form class="form-horizontal" name="formProducto" id="formProducto" novalidate>
            <div class="col-md-12" ba-panel ba-panel-title="Registro de Pedidos" ba-panel-class="with-scroll">
                <div class="col-xs-6 col-sm-4" ba-panel ba-panel-title="MESAS <select class='btn btn-primary btn-xs pull-right' style='width: 60%;' id='id_mesas' name='id_mesas' ng-model='data.id_mesas'
                ng-options='mesas.nu_mesa for mesas in jmesas' ng-change='getMesas(data)'></select>"
                    ba-panel-class="medium-panel with-scroll"  style="padding-right: 0; padding-top: 0; padding-left: 0; padding-bottom: 0;">
                    <br>
                    <div ng-repeat="s in gmesas">
                        <div ba-panel >
                            <div class="panel-body" style="padding-right: 0; padding-top: 0; padding-left: 0; padding-bottom: 0;">
                                <h1 class="al-title ng-binding"><i class="fas fa-utensils"></i> Mesa : {{s.no_mesas}}
                                </h1>
                                <div class="control-alert">&nbsp;&nbsp;
                                    <button class="btn btn-xs btn-danger" title="Eliminar mesa"
                                        ng-click="quitar_producto(s.id_mesa, displayed.indexOf(s))"><i
                                            class="ion-trash-a"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4" ba-panel
                    ba-panel-title="CARTA <select class='btn btn-primary btn-xs pull-right' style='width: 60%;'  id='id_categoria' name='id_categoria' ng-model='data.id_categoria'
                        ng-options='cate.no_categoria_producto for cate in jcategoria' ng-change='getProductos(data)'></select>"
                    ba-panel-class="medium-panel with-scroll">
                    <br>
                    <div ng-repeat="s in jproductos">
                        <div ba-panel ng-click="getPedido(s)" style="cursor: pointer;">
                            <div class="panel-body" style="padding-right: 0; padding-top: 0; padding-left: 0; padding-bottom: 0;">
                                <div class="col-md-4">
                                    <img src="api/{{s.ruta_imagen}}">
                                </div>
                                <div class="col-md-8">
                                    <label for="no_producto">{{s.no_producto}}</label>
                                    <label for="nu_precio">S/{{miFormato(s.nu_precio)}}</label>
                                    <br>
                                    <label ng-if="s.stock" for="nu_precio">Stock: {{s.stock}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-4" ba-panel ba-panel-title="Pedido" ba-panel-class="medium-panel with-scroll">
                    <br>
                    <div ng-repeat="s in jpedidos">
                        <div ba-panel>
                            <div class="panel-body"
                                style="padding-right: 0; padding-top: 0; padding-left: 0; padding-bottom: 0;">
                                <label for="no_producto">{{s.no_producto}}</label>
                                <label for="no_producto" style="font-weight:bold;">Precio:
                                    S/{{miFormato(s.nu_precio)}}</label>
                                <div class="flex-w bo5 of-hidden w-size17">
                                    <button class="btn btn-primary btn-xs" ng-click="resta(s)">
                                        <i class="fs-12 fa fa-minus" aria-hidden="true"></i>
                                    </button>
                                    <input id="nu_cantidad" ng-model="s.nu_cantidad"
                                        class="btn btn-danger btn-xs" style="width: 2rem;" type="text" />
                                    <button class="btn btn-primary  btn-xs" ng-click="suma(s)">
                                        <i class="fs-12 fa fa-plus" aria-hidden="true"></i>
                                    </button>
                                    <span> &nbsp;&nbsp;&nbsp;&nbsp; Total: <label for="no_producto"
                                            style="font-weight:bold; font-size:1.2em;">S/{{s.nu_total}}</label></span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <button class="btn btn-xs btn-danger" title="Eliminar este pedido"
                                        ng-click="quitar_pedido(s.id_pedido, displayed.indexOf(s))"><i
                                            class="ion-trash-a"></i></button>
                                </div>
                                <br>
                                <textarea placeholder="Comentarios" ng-model="s.no_observacion" class="form-control"
                                    id="no_observacion"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" style="text-align: right;">
                    <button class="btn btn-success" type="button" title="Mandar pedido a cocina/bar"
                        ng-click="guardar()">Realizar Pedido</button>
                    &nbsp;&nbsp;&nbsp;
                    <a class="btn btn-default" ui-sref="dashboard.atencion.mozo"><i class="fa fa-list-alt"></i>
                        Lista de Pedidos</a>
                </div>
            </div>
        </form>
    </div>
</div>