<style>
    td{
        text-transform: none;
    }
</style>
<table>
    <tbody>
        <tr>
            <td rowspan="2" style="width:12%; vertical-align: top;"><img src="../assets/icon-sinven.png" title="Logo" alt="SINVEN"  /></td>
            <td style="width:67%;">&nbsp;</td>
            <td style="width:21%;" >Fecha: {{now|date('d-m-Y')}}&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:left;" >
                {{empresa.nombre_empresa}}- <strong>{{empresa.desc_documento}}</strong>{{empresa.num_fiscal}}<br/>
                &nbsp;&nbsp; {{empresa.direccion}}<br/>
                {{empresa.email}} {{empresa.tlf_fiscal}}
            </td>
        </tr>
        <tr>
            <td colspan="3" style="text-align:center;">
                <h2>{{titulo.name | raw}}</h2>
            </td>
        </tr>            
    </tbody>
</table>