<style>
    td{
        border: solid 1px #000;
        font-size: 9px;
    }
    td.title{
        
    }
</style>
<table>
    <thead>
        <tr>
            <td class="title" style="width:50px;">#Ticket</td>
            <td class="title" style="width:40px;">Fecha</td>
            <td class="title" style="width:267px;">Cliente</td>
            <td class="title" style="width:70px; text-align: right;">Sub-Total</td>
            <td class="title" style="width:70px; text-align: right;">Importe {{impuesto.nombre}}</td>
            <td class="title" style="width:70px; text-align: right;">Total</td>
        </tr>
    </thead>
    <tbody>
        {% if ventas|length==0 %}
            <tr>
                <td colspan="6" style="text-align:center;">NO EXISTEN REGISTROS DE VENTAS</td>
            </tr>
        {% endif %}
        {% for venta in ventas %}
        <tr>
            <td>{{venta.idticket}}</td>
            <td>{{venta.fecventa}}</td>
            <td>{{venta.apellidos_nombres}}</td>
            <td>{{venta.subtotal}}</td>
            <td>{{venta.importe_impuesto}}</td>
            <td>{{venta.total}}</td>
        </tr>
            {% if detalle_reports.details_ventas %}
                <tr>
                    <td>Código</td>
                    <td>Producto</td>
                    <td>Cantidad</td>
                    <td>Sub-Total</td>
                    <td>Importe</td>
                    <td>Total</td>
                </tr>
                {% for detail in venta.details %}
                <tr>
                    <td>{{detail.cod_producto}}</td>
                    <td>{{detail.nom_producto}}{{detail.num_serie}}({{detail.desc_fabricante}}){{(detail.lote is empty)?'':'-'}}{{detail.lote}}</td>
                    <td>{{detail.cantidad}}</td>
                    <td>{{detail.costo_unidad}}</td>
                    <td>{{detail.importe_impuesto}}</td>
                    <td>{{detail.cantidad*(detail.costo_unidad+detail.importe_impuesto)}}</td>
                </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>