<div class="widgets" ng-init="consultar()">
    <div class="row" >
        <div ba-panel-title="TOTAL COMPRAS" ba-panel ba-panel-class="with-scroll" class="col-md-6 col-lg-6">
            <div class="col-md-6">
                <h1 class="al-title ng-binding"><i class="fas fa-thumbs-up"></i> {{data.nu_compras}} </h1>
            </div>
        </div>
        <div ba-panel-title="TOTAL EGRESOS POR COMPRAS" ba-panel ba-panel-class="with-scroll" class="col-md-6 col-lg-6">
            <div class="col-md-6">
                <h1 class="al-title ng-binding"><i class="fas fa-coins"></i> {{data.nu_total}}</h1>
            </div>
        </div>

    </div>
    <div class="row">

        <div ba-panel
            ba-panel-title="Listado de Ordenes de Compras<i ng-click='agregar()' class='fa pull-right fa-plus' style=' cursor: pointer;'></i>"
            ba-panel-class="with-scroll">
            <div class="form-group">
                <div class="col-sm-12">

                    <table class="table table-striped" st-pipe="callServer" st-table="displayed">
                        <thead>
                            <tr class="sortable ">
                                <th style="width:4%;" class="table-id">#</th>
                                <th style="width:10%;">Proveedor</th>
                                <th style="width:6%;">F. Compra</th>
                                <th style="width:10%;">Empleado</th>
                                <th style="width:6%;">Recibo</th>
                                <th style="width:6%;">N° Compra</th>
                                <th style="width:6%;">Total</th>
                                <th style="width:10%;">&nbsp;</th>
                            </tr>
                            <tr>
                                <th></th>
                                <th>
                                    <input st-search="no_proveedor" class="input-sm form-control"
                                        placeholder="Busqueda proveedor ..." type="search" /></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr st-select-row="row" ng-repeat="item in displayed">
                                <td class="table-id" style="text-align: right;">{{item.item}}</td>
                                <td>{{item.no_proveedor }}</td>
                                <td>{{item.fe_registro }}</td>
                                <td>{{item.no_empleado }}</td>
                                <td>{{item.no_tipo_comprobante }}</td>
                                <td>{{item.no_correlativo }}</td>
                                <td>{{item.nu_total }}</td>
                                <td>
                                    <div class="btn-group" role="group">
                                        <a class="btn btn-xs btn-success" title="Editar"
                                            ui-sref="dashboard.compras.compra-details({idCompras: item.id_compra_cabecera})"><i
                                                class="ion-edit"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="8" class="text-center" st-pagination="" st-items-by-page="10"></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>