<div class="widgets" ng-init="consultar()">
    <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="Paises" ba-panel-class="with-scroll">
            <form class="form-horizontal" name="formPais" id="formPais" ng-submit="guardar(formPais)" novalidate>
                <div class="form-group has-feedback" ng-class="{'has-error': formPais.nom_pais.$invalid && (formPais.nom_pais.$dirty || formPais.nom_pais.$submitted)}" >
                    <label for="nom_pais" class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-10">
                        <input type="hidden" name="id_pais" ng-model="data.id_pais">
                        <input type="text" class="form-control" id="nom_pais" name="nom_pais" placeholder="Nombre Pais" ng-model="data.nom_pais" ng-required="true" pais-exist codpais="data.id_pais" style="text-transform:uppercase" />
                        <span class="help-block error-block basic-block" ng-if="formPais.nom_pais.$error" >
                            <p ng-repeat="(key, value) in formPais.nom_pais.$error">
                                {{messages.nom_pais[key]}}
                            </p>
                        </span>
                    </div>
                </div>
                <div class="form-group  has-feedback" ng-class="{'has-error': formPais.pref_inter.$invalid && (formPais.pref_inter.$dirty || formPais.$submitted)}" >
                    <label for="pref_inter" class="col-sm-2 control-label">Prefijo Inter.:</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="pref_inter" name="pref_inter" placeholder="Prefijo Internacional" ng-model="data.pref_inter" ng-required="true" ng-disabled="formPais.nom_pais.$invalid || formPais.nom_pais.$pending" style="text-transform:uppercase">
                        <span class="help-block error-block basic-block" ng-if="formPais.pref_inter.$error" >
                            <p ng-repeat="(key, value) in formPais.pref_inter.$error">
                                {{messages.pref_inter[key]}}
                            </p>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success" ng-disabled="formPais.$invalid || formPais.$pending">Guardar</button> 
                    </div>
                </div>
            </form>
        </div>
    </div>            
</div>