<div class="widgets">
    <div class="row">
        <div class="col-md-12" >
        <div ba-panel ba-panel-title="Listado de Usuarios <button type='button' class='btn btn-link pull-right' ng-click='agregar()' ><i class='fa fa-plus'></i> Agregar</button>" ba-panel-class="with-scroll">
            <table class="table table-striped" st-pipe="callServer" st-table="displayed">
                <thead>
                    <tr class="sortable ">
                        <th style="width:4%;" class="table-id">#</th>
                        <th style="width:6%;" >Código</th>
                        <th style="width:35%;" >Empleado</th>
                        <th style="width:15%;" >Usuario</th>
                        <th style="width:14%;" >Fecha Ing.</th>
                        <th style="width:16%;" >Rol</th>
                        <th style="width:10%;">&nbsp;</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>
                            <input st-search="cod_producto" class="input-sm form-control" placeholder="Busqueda Empleado ..." type="search"/>
                        </th>
                        <th>
                            <input st-search="nom_producto" class="input-sm form-control" placeholder="Busqueda Usuario..." type="search"/>
                        </th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr st-select-row="row" ng-repeat="item in displayed">
                        <td class="table-id" style="text-align: right;">{{item.item}}</td>
                        <td>{{item.id_empleado}}</td>
                        <td>{{item.no_apepat }} {{item.no_apemat}}, {{item.no_nombres}}</td>
                        <td>{{item.login}}</td>
                        <td>{{item.fe_ingreso | date: 'dd/MM/yyyy'}}</td>
                        <td>{{item.no_rol_sistema}}</td>
                        <td >
                            <div class="btn-group" role = "group" >
                                <button class="btn btn-xs btn-success" type="button" title ="Editar" ng-click="editar(item.id_empleado)" ><i class="ion-edit" ></i></button>
                                <button class="btn btn-xs" ng-class="(item.status=='1')?'btn-success':'btn-danger'" type="button" title = "Activar/inactivar" ng-click="changeStatus(item.id_empleado, item.status)" ng-disabled="item.idusuario==0" ><i class="fa" ng-class="(item.status=='1')?'fa-check':'fa-ban'"> </i></button>
                            </div>
                        </td>        
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7" class="text-center" st-pagination="" st-items-by-page="10" ></td>
                    </tr>
                </tfoot>
            </table>            
        </div>
        </div>
    </div>
</div>