<div class="widgets" ng-init="consultar()">
    <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="Tipo de Documento" ba-panel-class="with-scroll">
            <form class="form-horizontal" name="formTipDoc" id="formTipDoc" ng-submit="guardar(formTipDoc)" novalidate>
                <div class="form-group has-feedback" ng-class="{'has-error': formTipDoc.desc_documento.$invalid && (formTipDoc.desc_documento.$dirty || formTipDoc.desc_documento.$submitted)}" >
                    <label for="desc_documento" class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-10">
                        <input type="hidden" name="id_tipdoc" ng-model="data.id_tipdoc">
                        <input type="text" class="form-control" id="desc_documento" name="desc_documento" placeholder="Descripción" ng-model="data.desc_documento" ng-required="true" tipdoc-exist idtipdoc="data.id_tipdoc" style="text-transform:uppercase" autocomplete="off" />
                        <span class="help-block error-block basic-block" ng-if="formTipDoc.desc_documento.$error" >
                            <p ng-repeat="(key, value) in formTipDoc.desc_documento.$error">
                                {{messages.desc_documento[key]}}
                            </p>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success" ng-disabled="formTipDoc.$invalid || formTipDoc.$pending">Guardar</button> 
                    </div>
                </div>
            </form>
        </div>
    </div>            
</div>