<div class="modal-content">
    <div class="modal-header  {{item.color}}">
        <i class="{{item.icono}} modal-icon"></i><span> {{item.titulo}} </span>
    </div>
    <div class="modal-body text-left">
        <div class="col-md-12" style="text-align: center;">
            <h3>CAJA DE: {{item.no_empleado}},<br> Sucursal: {{item.no_sucursal}} </h3>
        </div>
        <br><br><br>
        <div class="form-group has-feedback" ng-if="!item.id_caja_accion">
            <div class="col-md-12" style="text-align: center;">
                <label for="nu_precio_sugerido">Monto Inicio - S/</label>    
            </div>
            <br>
            <div class="col-md-12" style="text-align: center;">
                <center>
                    <input id="nu_monto_apertura" ng-model="item.nu_monto_apertura"
                        style="width: 20%; text-align: center;" class="input-sm form-control" placeholder="0.0"
                        type="text" />
                </center>
            </div>
        </div>
        <div class="form-group has-feedback" ng-if="item.id_caja_accion">
            <div class="col-md-12" style="text-align: center;">
                <label for="nu_precio_sugerido">Monto Cierre - S/</label>
            </div>
            <br>
            <div class="col-md-12" style="text-align: center;">
                <center>
                    <input id="nu_monto_cierre" ng-model="item.nu_monto_cierre" style="width: 20%; text-align: center;"
                        class="input-sm form-control" placeholder="0.0" type="text"/>
                </center>
            </div>
        </div>
        <br><br><br>
        <div class="col-md-12" style="text-align: center;">
            <button type="button" class="btn btn-info" ng-click="guardar()">{{item.titulo}}</button>
            <button type="button" class="btn btn-danger" ng-click="cerrar()">Cancelar</button>
        </div>
    </div>
    <div class="modal-footer">
    </div>
</div>