.vis-timeline {
  border: 2px solid white;
  font-family: sans-serif;
  font-size: 12pt; }

.vis-item {
  border-color: #aa00cc;
  background-color: #aa00cc;
  font-size: 11pt;
  color: white;
  box-shadow: 5px 5px 20px rgba(51, 0, 48, 0.5); }

.vis-item,
.vis-item.vis-line {
  border-width: 2px; }

.vis-item.vis-dot {
  border-width: 10px;
  border-radius: 10px; }

.vis-item.vis-selected {
  border-color: lightgreen;
  background-color: lightgreen; }

.vis-time-axis .vis-text {
  color: white;
  padding-top: 10px;
  padding-left: 10px; }

.vis-time-axis .vis-text.vis-major {
  font-weight: bold; }

.vis-time-axis .vis-grid.vis-minor {
  border-width: 2px;
  border-color: pink; }

.vis-time-axis .vis-grid.vis-major {
  border-width: 2px;
  border-color: #F991A3; }

.prof {
  cursor: pointer;
  transition: opacity 0.2s, transform 0.2s; }

.prof:hover {
  opacity: 0.4;
  transform: scale3d(1.1, 1.1, 1); }

#loading-bar .bar {
  background: #aa00cc;
  height: 8px; }

html {
  position: relative;
  min-width: 320px; }

html, body {
  min-height: 100%;
  height: 100%; }

body {
  font: 12px/16px "Roboto", sans-serif;
  color: #ffffff;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  body::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("../assets/img/blur-bg.jpg") no-repeat center center;
    background-size: cover;
    will-change: transform;
    z-index: -1; }

.page-not-found-modal {
  width: 638px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-weight: 300;
  color: #ffffff;
  padding: 32px;
  text-align: center; }
  .page-not-found-modal h1 {
    font-weight: 300;
    margin-bottom: 32px; }
  .page-not-found-modal p {
    font-size: 16px;
    line-height: 24px; }
  .page-not-found-modal a {
    text-decoration: none;
    outline: none;
    transition: all 0.2s ease;
    color: #F23005;
    display: inline-block; }
    .page-not-found-modal a:hover {
      color: #ce2904; }
