<div class="widgets">
    <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="Reporte de Productos">
            <form name="formRptVentas" id="formRptVentas" target="_blank" action="/reports/productos.php" method="POST" novalidate>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="id_categoria" class="control-label">Categoria Productos:</label>
                            <input type="hidden" name="id_categoria" id="id_categoria" value="{{data.id_categoria}}">
                            <ui-select ng-model="data.id_categoria" class="btn-group bootstrap-select form-control" >
                                <ui-select-match placeholder="Todos...">{{$select.selected.no_categoria_producto}}</ui-select-match>
                                <ui-select-choices repeat="categoria in jcategoria | filter: $select.search">
                                <div ng-bind-html="categoria.no_categoria_producto | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>        
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="radio-inline custom-radio nowrap">
                                <input type="radio" name="tipo_reporte" value="precios">
                                <span>Lista de Precios</span>
                            </label>                                
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="radio-inline custom-radio nowrap">
                                <input type="radio" name="tipo_reporte" value="precios_existencia">
                                <span>Lista de Precios vs Existencia</span>
                            </label>                                
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="radio-inline custom-radio nowrap">
                                <input type="radio" name="tipo_reporte" value="precio_costo">
                                <span>Lista de Precio Costo</span>
                            </label>                                
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="radio-inline custom-radio nowrap">
                                <input type="radio" name="tipo_reporte" value="existencia_lab">
                                <span>Existencia Laboratorio</span>
                            </label>                                
                        </div>
                    </div>
                </div>
                <!--div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="radio-inline custom-radio nowrap">
                                <input type="radio" name="tipo_reporte" value="precio_linea">
                                <span>Lista de Precio por Linea</span>
                            </label>                                
                        </div>
                    </div>
                </div-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="radio-inline custom-radio nowrap">
                                <input type="radio" name="tipo_reporte" value="productos">
                                <span>Todos en Orden Alfabetico</span>
                            </label>                                
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="checkbox-inline custom-checkbox nowrap">
                                <input type="checkbox" name="sin_stock" value="1">
                                <span>Ignorar productos sin ingreso en almacen</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-success" > <i class="fa fa-file-pdf-o"></i> Generar</button> 
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>