<div class="widgets">
    <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="Reporte de Ventas">
            <form name="formRptVentas" id="formRptVentas" target="_blank" method="POST"
                novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="fe_emision">Desde</label>
                            <div class="input-group" moment-picker="data.fec_inicio" locales="es" start-view="month"
                                format="YYYY-MM-DD">
                                <input class="form-control" id="fec_inicio" name="fec_inicio"
                                    placeholder="Seleccione Una Fecha" ng-model="data.fec_inicio"
                                    ng-model-options="{ updateOn: 'blur'}">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="fe_emision">Hasta</label>
                            <div class="input-group" moment-picker="data.fec_hasta" locales="es" start-view="month"
                                format="YYYY-MM-DD">
                                <input class="form-control" id="fec_hasta" name="fec_hasta"
                                    placeholder="Seleccione Una Fecha" ng-model="data.fec_hasta"
                                    ng-model-options="{ updateOn: 'blur'}">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default">
                                        <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="control-label">Tipo Documento</label>
                            <ui-select ng-model="data.tipdocumento" class="btn-group bootstrap-select form-control"
                                ng-disabled="vm.formProducto.codigo.$invalid" ng-required="true">
                                <ui-select-match placeholder="Tipo Documento">{{$select.selected.nombre}}
                                </ui-select-match>
                                <ui-select-choices repeat="tipodocumento in jTipDocumentos | filter: $select.search">
                                    <div ng-bind-html="tipodocumento.nombre | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                            <span class="help-block error-block basic-block" ng-if="formUsuario.idtipdoc.$error">
                                <p ng-repeat="(key, value) in formUsuario.idtipdoc.$error">{{messages.idtipdoc[key]}}
                                </p>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" ng-class="{'has-error': formRptVentas.num_doc.$invalid}">
                            <label for="num_doc" class="control-label">Nº Documento</label>                           
                            <input type="text" class="form-control" id="num_doc" name="num_doc"
                                placeholder="Nº Documento" ng-model="data.num_doc"
                                autocomplete="off" />
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="control-label">Apellidos y Nombres / Razon Social</label>
                            <input type="text" class="form-control" id="noclien" name="noclien"
                                placeholder="Apellidos y Nombres / Razon Social" ng-model="data.noclien" 
                                style="color:#000 !important;" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success"  ng-click="consultar(data)">BUSCAR</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>        
    </div>
    <div ba-panel ba-panel-title="Resultado de la Busquedad <i ng-click='agregar()' class='fa pull-right fa-plus'>Exportar</i>"
        ba-panel-class="with-scroll">

        <div class="form-group">
            <div class="col-sm-12">

                <table class="table table-striped" st-table="displayed" st-safe-src="rowVentas">
                    <thead>
                        <tr class="sortable">
                            <th style="width:4%;" class="table-id">#</th>
                            <th style="width:15%;">Fecha</th>
                            <th style="width:20%;">Cliente</th>
                            <th style="width:15%;">Comprobante</th>
                            <th style="width:15%;">Total</th>
                            <th style="width:15%;">N° Comprobante</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>
                                <input st-search="no_cliente" class="input-sm form-control"
                                    placeholder="Busqueda Cliente ..." type="search" />
                            </th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr st-select-row="row" ng-repeat="item in displayed">
                            <td class="table-id" style="text-align: right;">{{item.item}}</td>
                            <td>{{item.fe_registro }}</td>
                            <td>{{item.no_cliente }}</td>
                            <td>{{item.no_tipo_comprobante }}</td>
                            <td>{{item.nu_total }}</td>
                            <td>{{item.nu_comprobante }}</td>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6" class="text-center" st-pagination="" st-items-by-page="10"></td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>