<div class="widgets" ng-init="consultar()">
    <div class="row">
        <div class="col-md-12" ba-panel ba-panel-title="Registro de Insumo" ba-panel-class="with-scroll">
            <form class="form-horizontal" name="formInsumo" id="formInsumo" ng-submit="guardar(formInsumo)" novalidate>
                <div class="form-group has-feedback">
                    <div class="col-sm-2" style="text-align: right;">
                        <label for="apenom">Nombre:</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="no_insumo" ng-model="data.no_insumo" class="input-sm form-control"
                            placeholder="Nombre Insumo" type="text" />
                    </div>

                    <div class="col-sm-2" style="text-align: right;">
                        <label for="apenom">Categoria Insumo:</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" id="id_categoria_insumo" name="id_categoria_insumo"
                            ng-model="data.id_categoria_insumo"
                            ng-options="categoria.value as categoria.text for categoria in cCategoriaInsumos">
                        </select>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <div class="col-sm-2" style="text-align: right;">
                        <label for="apenom">Unidad:</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" id="id_unidad" name="id_unidad" ng-model="data.id_unidad"
                            ng-options="unidad.value as unidad.text for unidad in cUnidad">
                        </select>
                    </div>
                    <div class="col-sm-2" style="text-align: right;">
                        <label for="apenom">Medida:</label>
                    </div>
                    <div class="col-sm-4">
                        <select class="form-control" id="id_medida" name="id_medida" ng-model="data.id_medida"
                            ng-options="medida.value as medida.text for medida in cMedida">
                        </select>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-sm-2" style="text-align: right;">
                        <label for="nu_cantidad_medida">Cantidad Medida:</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="nu_cantidad_medida" ng-model="data.nu_cantidad_medida" class="input-sm form-control"
                            placeholder="Cantidad por Medida" type="text" />
                    </div>
                    <div class="col-sm-2" style="text-align: right;">
                        <label for="nu_stock_minimo">Stock minimo:</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="nu_stock_minimo" ng-model="data.nu_stock_minimo" class="input-sm form-control"
                            placeholder="Stock Minimo" type="text" />
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <div class="col-sm-2" style="text-align: right;">
                        <label for="nu_precio_sugerido">Precio Sugerido:</label>
                    </div>
                    <div class="col-sm-4">
                        <input id="nu_precio_sugerido" ng-model="data.nu_precio_sugerido" class="input-sm form-control"
                            placeholder="Precio Sugerido" type="text" />
                    </div>
                </div>
                <div class="form-group has-feedback">

                    <div class="col-sm-12" style="text-align: right;">
                        <button type="submit" class="btn btn-success"
                            ng-disabled="formInsumo.$invalid || formInsumo.$pending">Guardar</button>
                        &nbsp;&nbsp;&nbsp;
                        <a class="btn btn-default" ui-sref="dashboard.almacen.insumo"><i class="fa fa-list-alt"></i>
                            Listado</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>