<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12" ba-panel ba-panel-title="Configuración" ba-panel-class="with-scroll">
        <form name="formConfiguracion" id="formConfiguracion" ng-submit="guardar(formConfiguracion, '0')" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-class="{'has-error': formConfiguracion.abrev_impuesto.$invalid && formConfiguracion.abrev_impuesto.$dirty}" >
                        <label for="abrev_impuesto" class="control-label">Abrev. Impuesto:</label>
                        <input type="text" name="abrev_impuesto" id="abrev_impuesto" class="form-control" ng-model="data.abrev_impuesto" ng-required="true" autocomplete="off" />
                        <span class="help-block error-block basic-block" ng-if="formConfiguracion.abrev_impuesto.$error" >
                            <p ng-repeat="(key, value) in formConfiguracion.abrev_impuesto.$error">
                                {{messages.idtipdoc[key]}}
                            </p>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="porc_impuesto" class="control-label">% Impuesto:</label>
                        <input type="text" class="form-control" id="porc_impuesto" name="porc_impuesto" ng-model="data.porc_impuesto" ng-required="true" autocomplete="off" ng-style="{'text-align':'right'}" />
                        <span class="help-block error-block basic-block" ng-if="formConfiguracion.porc_impuesto.$error" >
                            <p ng-repeat="(key, value) in formConfiguracion.porc_impuesto.$error">
                                {{messages.num_doc[key]}}
                            </p>
                        </span>    
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group"  ng-class="{'has-error': formConfiguracion.idmoneda.$invalid && formConfiguracion.idmoneda.$dirty }" >
                        <label for="idmoneda" class="col-sm-2 control-label">Moneda:</label>
                        <ui-select ng-model="data.idmoneda" class="btn-group bootstrap-select form-control" name="idmoneda" >
                            <ui-select-match placeholder="Moneda">{{$select.selected.nom_moneda}}</ui-select-match>
                            <ui-select-choices repeat="moneda in jMonedas | filter: $select.search">
                                <div ng-bind-html="moneda.nom_moneda | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="" class="control-label">Nº Autorizado Imprenta</label>
                        <input type="text" name="num_autorizacion" id="num_autorizacion" class="form-control" ng-model="data.num_autorizacion" autocomplete="off" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success" ng-disabled="formPais.$invalid || formPais.$pending">Guardar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12" ba-panel ba-panel-title="Iniciar Comprobantes" ba-panel-class="with-scroll">
        <form name="formFactura" id="formFactura" ng-submit="guardar(formFactura, '1')" novalidate>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="init_factura" class="control-label">Factura en:</label>
                        <input type="text" name="init_factura" id="init_factura" class="form-control" ng-model="data.init_factura" ng-required="true" autocomplete="off" style="text-align:right;" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="init_boleta" class="control-label">Boleta en:</label>
                        <input type="text" name="init_boleta" id="init_boleta" class="form-control" ng-model="data.init_boleta" ng-required="true" autocomplete="off" style="text-align:right;" />
                    </div>
                </div>    
            </div>
            <h3 class="panel-title">Código de Productos</h3>
            <div class="separator"></div>
            <div class="row">
                <div class="col-md-6">
                    <label class="checkbox-inline custom-checkbox nowrap">
                        <input type="checkbox" id="autoidproducto" name="autoidproducto" ng-model="data.autoidproducto" />
                        <span>Númerico autoincremento</span>
                    </label>
                </div>
                <div class="col-md-6">
                    <input type="text" name="inicia_codigo" id="inicia_codigo" class="form-control" ng-model="data.inicia_codigo" autocomplete="off" style="text-align:right;" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success" ng-disabled="formPais.$invalid || formPais.$pending">Guardar</button> 
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>