<div class="modal-content">
    <div class="modal-header bg-info">
        <i class="ion-information-circled modal-icon"></i><span> Lista de Clientes</span>
    </div>
    <div class="modal-body text-center">

        <table class="table table-striped" st-pipe="callServer" st-table="displayed">
            <thead>
                <tr class="sortable ">
                    <th style="width:4%;" class="table-id">#</th>
                    <th style="width:15%;">Nombre Cliente</th>
                    <th style="width:6%;">N° Documento</th>
                    <th style="width:30%;">Dirección</th>
                    <th style="width:6%;">Teléfono</th>
                    <th style="width:6%;">E-mail</th>
                    <th style="width:10%;">&nbsp;</th>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        <input st-search="no_cliente" class="input-sm form-control" placeholder="Busqueda cliente ..."
                            type="search" /></th>
                    <th> <input st-search="nu_documento" class="input-sm form-control"
                            placeholder="Busqueda N° Documento ..." type="search" /></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr st-select-row="row" ng-repeat="item in displayed">
                    <td class="table-id" style="text-align: right;">{{item.item}}</td>
                    <td>{{item.no_cliente }}</td>
                    <td>{{item.nu_documento }}</td>
                    <td>{{item.no_direccion }}</td>
                    <td>{{item.nu_telefono }}</td>
                    <td>{{item.email }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <button class="btn btn-xs btn-sucess" title="Agregar"
                                ng-click="obtenerCliente(item, displayed.indexOf(item))"><i
                                    class="fa pull-right fa-plus"></i></button>

                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="text-center" st-pagination="" st-items-by-page="10"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>