<div class="modal-content">
    <div class="modal-header bg-info">
      <i class="ion-information-circled modal-icon"></i><span> Control de Exportaciòn</span>
    </div>
    <div class="modal-body text-left">Se Generara el reporte.
    </div>
    <div class="modal-footer">
            <form action="api/rpt/ctrl.reportes.php" method="POST" target="_blank">
                <input type="hidden" name="data" value="{{item}}">
                <input type="hidden" name="oper" value="rpt_sucursal">          
                <button type="submit" class="btn btn-info"  ><i class="fa fa-print fa-fw"></i> Generar</button>  
                <button type="button" class="btn btn-danger" ng-click="$dismiss()">Cancelar</button>
               
            </form>
    </div>
  </div>